@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.docs {
    max-width: $maxWidth;
    padding: 0 rem(20);
    margin: 0 auto;
    display: flex;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;


    &__link {
        width: 30%;
        height: 85vh;
        overflow-y: scroll;
        padding-top: rem(20);




        & h2 {
            font-weight: 600;
            color: #273849;
            font-size: 1.8vw;
            margin-bottom: rem(15);
            display: block;
        }
    }

    &__header {
        color: #304455;
        font-weight: 600;
        font-size: 1.4vw;
        margin-top: rem(15);
        margin-bottom: rem(-2);
        cursor: pointer;
        display: inline-block;
        border-bottom: 2px solid whitesmoke;

        &:hover {
            border-bottom: 2px solid #42b983;
        }

        &._active {
            color: #42b983;
        }
    }

    &__chapter {
        cursor: pointer;
        margin: rem(15) 0 0 rem(15);
        color: #304455;
        font-weight: 600;
        font-size: 1.2vw;
        display: block;
        transition: all 0.3 ease;

        &._active {
            color: #42b983;
            font-size: 1.22vw;
        }
    }

    &__content {
        width: 70%;
        height: 85vh;
        overflow-y: scroll;
        padding: rem(20) rem(60) rem(10) rem(20);
    }

    &__contentHeader {
        font-weight: 600;
        color: #273849;
        font-size: 1.9vw;
    }

    &__contentChapter {
        margin: rem(45) 0 rem(20);
        padding-bottom: rem(20);
        border-bottom: 1px solid #ddd;
        font-weight: 600;
        color: #273849;
        font-size: 1.5vw;

        &::before {
            content: "";
            display: block;
            margin-top: rem(45);
            height: rem(45);
            visibility: hidden;
        }
    }

    &__contentText {
        color: #304455;
        word-spacing: rem(1);
        line-height: 1.6;
        margin: rem(20) 0 rem(20);
        padding-bottom: rem(20);
        text-align: justify;
        letter-spacing: rem(1);
        font-size: 1.1vw;
    }
}