@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.knownWords {
    padding: rem(20) 0 rem(20) 0;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 1023px) {
        border: 0;
        padding-top: 10px;
    }

    &__header {
        display: flex;
        height: rem(53);

        @media (max-width: 1023px) {
            height: auto;
            width: 100%;
            flex-direction: column;
        }
    }

    &__lastInfo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0 0 auto;

        & p {
            line-height: 1.3;
            font-size: rem(16);
        }

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__lastInfoMobile {
        display: none;

        & p {
            line-height: 1.3;
            font-size: rem(16);
        }

        @media (max-width: 1023px) {
            flex-direction: column;
            text-align: left;
            margin: 0 0 20px 0;
            display: flex;
        }
    }

    &__filterContainer {
        width: 25%;

        @media (max-width: 1023px) {
            width: 50%;
            height: 45px;
            margin-bottom: 20px;


        }

        @media (max-width: 767px) {
            width: 60%;
        }

        @media (max-width: 479px) {
            width: 90%;
            margin: 0 auto 25px auto;
        }
    }



    &__searchContainer {
        width: 15%;
        margin: 0 20px 0 20px;

        @media (max-width: 1023px) {
            width: 50%;
            height: 45px;
            margin-bottom: 20px;
            margin: 0;


        }

        @media (max-width: 767px) {
            width: 60%;
        }

        @media (max-width: 479px) {
            width: 90%;
            margin: 0 auto 20px auto;

        }
    }

    &__CRUDButton {
        padding: rem(8) rem(30);
        border-radius: rem(20);
        font-size: rem(18);
        background-color: #698AFE;
        box-shadow: 0px 3px 13px 0px #C2CEF0;
        color: white;
        font-family: antique;
        margin: 0 auto;


        &.disabled {
            background-color: #828386;
            box-shadow: 0px 3px 13px 0px #999b9e;
        }

        @media (max-width: 1023px) {
            display: none;

        }

    }

    &__wordsContainer {
        margin-top: rem(20);
        max-height: rem(500);
        min-height: rem(500);

        @media (max-width: 1023px) {
            max-height: none;
            min-height: none;
            margin-top: rem(122);


        }
    }



    &__startLearn {
        margin-top: rem(20);
        display: flex;

        & p {
            font-size: rem(16);
            line-height: 1.8;

            @media (max-width: 767px) {
                display: none;
            }

        }

        @media (max-width: 1023px) {
            position: absolute;
            margin-top: 0;
            width: 100vw;
            left: -20px;
            top: 140px;
            display: flex;
            background-color: white;
            z-index: 1;
            box-shadow: 0px 0px 16px -2px rgba(34, 60, 80, 0.2);
            padding: 20px;


            &._fixed {
                position: fixed;
                top: 65px;
                left: 0;
            }


        }
    }

    &__cancelMobile {
        width: 30px;
        height: 30px;
        margin: auto auto auto 0;
        display: none;

        @media (max-width: 1023px) {
            display: block;

        }
    }

    &__deleteMobile {
        width: 30px;
        height: 30px;
        margin: auto 0 auto auto;
        display: none;

        @media (max-width: 1023px) {
            display: block;

        }
    }

    &__startButton {
        padding: rem(5) rem(10);
        font-size: rem(18);
        border-radius: rem(20);
        font-family: antique;
        color: black;

        &.normal {
            margin: 0 auto 0 0;

        }

        &.reverse {
            margin: 0 0 0 auto;
        }

        &.red {
            background-color: #fddddc;
            border: 1px #fc7b77 solid;
        }

        &.green {
            background-color: #dcfdde;
            border: 1px #86f88f solid;
        }

        &.yellow {
            background-color: rgb(245, 245, 139);
            border: 1px rgb(221, 221, 19) solid;
        }

        &.disabled {
            background-color: #828386;
            box-shadow: 0px 3px 13px 0px #999b9e;
            border: 1px solid #828386;
            color: white;
        }

        @media (max-width: 479px) {
            padding: rem(5) rem(5);
            font-size: rem(16);
        }



    }
}