@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

body {
    background-color: whitesmoke;
}

.workplace {

    width: 100%;
    background-color: whitesmoke;
}

.appear {
    animation: appearPage 0.3s linear;
}

.workplaceContainer {
    max-width: $maxWidth;
    margin: auto;
}

.headerContainer {
    max-width: $maxWidth;
    padding: 0 rem(20);
    margin: auto;
    display: flex;
}

.header {
    width: 100%;
    padding: rem(20) rem(10);

    background-color: #e7fcf5;

    &__logo {
        margin: auto 0;
        width: 15%;
    }

    &__title {
        margin: 0 rem(10);
        font-size: rem(16);
        font-family: Colus;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            color: #f5caef;
            transform: scale(1.1);
        }
    }

    &__titles {
        display: flex;
        margin: auto;
    }

    &__authPanel {
        margin: auto 0px auto auto;
    }


    &__signIn {
        padding: rem(10) rem(10);
        font-family: Dreamcast;
        font-size: rem(16);
        cursor: pointer;
        transition: all 0.2s;
        position: relative;
        background-color: #e7fcf5;

        &_active {
            animation: clickButtonHeader 0.5s ease;
            animation-iteration-count: 1;
        }

        &::after,
        &::before {
            backface-visibility: hidden;
            border: 1px solid rgba(#f5caef, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover::after,
        &:hover::before {
            backface-visibility: hidden;
            border-color: #f5caef;
            transition: width 350ms ease-in-out;
            width: 80%;
        }

        &:hover::before {
            bottom: auto;
            top: 0;
            width: 80%;
        }

    }

    &__signUp {
        margin-left: 10px;
        padding: rem(10) rem(10);
        font-size: rem(16);
        font-family: Dreamcast;
        background-color: #e7fcf5;
        transition: all 0.2s;

        &_active {
            animation: clickButtonHeader 0.5s ease;
            animation-iteration-count: 1;
        }

        &::after,
        &::before {
            backface-visibility: hidden;
            border: 1px solid rgba(#f5caef, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }

        &:hover::after,
        &:hover::before {
            backface-visibility: hidden;
            border-color: #f5caef;
            transition: width 350ms ease-in-out;
            width: 80%;
        }

        &:hover::before {
            bottom: auto;
            top: 0;
            width: 80%;
        }

    }

    &__userMenu {
        margin: auto 0px auto auto;
        display: flex;
        position: relative;
    }

    &__activeUserMenu {
        display: flex;
        cursor: pointer;
    }

    &__avatar {
        width: rem(34);
        height: rem(34);
    }

    &__nickName {
        margin: auto 0 auto rem(8);
        font-size: rem(16)
    }

    &__arrow {
        width: rem(11);
        height: rem(11);
        margin: auto auto auto rem(5);
    }


    &__userSettings {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 105%;
        left: rem(-40);
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        border-radius: 5px;
        padding: rem(20) rem(20) rem(5) rem(20);
        transition: all 0.3s ease;
        transform: scaleY(0);
        width: auto;


        &._active {
            transform: scaleY(100%);

        }

    }

    &__settingsItem {
        display: inline-flex;
        cursor: pointer;
        margin-bottom: rem(12);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(110%);
        }

    }

    &__settingsIcon {
        width: rem(14);
        height: rem(14);
        margin: auto 0;

    }

    &__settingsTittle {
        margin: auto 0 auto rem(10);
    }

}