@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.relevance {
    @extend %variable-maxWidth;
    padding: rem(40) rem(20) rem(20);
    margin: rem(0) auto;



    &__newInput {
        width: 50%;
        background-color: white;
        margin: 0 0 0 auto;
        box-shadow: 0px 1px 8px 0px #000000;
        overflow-y: scroll;
        padding: rem(5);
        max-height: 100px;

    }

    &__inputItem {
        font-size: rem(16);

        &.red {
            color: red;
        }

        &.green {
            color: rgb(2, 212, 2);
        }
    }

    &__confirmInput {
        padding: rem(8) rem(13);
        border-radius: rem(20);
        font-size: rem(16);
        background-color: #698AFE;
        box-shadow: 0px 3px 13px 0px #C2CEF0;
        color: white;
        font-family: antique;
        margin: rem(12) 0 0 auto;
    }

    &__info {
        text-align: justify;
        padding: rem(15) 0;
        font-size: rem(16);
    }

    &__confirmAddWord {
        padding: rem(8) rem(13);
        border-radius: rem(20);
        font-size: rem(16);
        background-color: #698AFE;
        box-shadow: 0px 3px 13px 0px #C2CEF0;
        color: white;
        font-family: antique;
        margin: auto 0 0 auto;

        &.disabled {
            background-color: #828386;
            box-shadow: 0px 3px 13px 0px #999b9e;

        }
    }

    &__filterContainer {
        width: 60%;
    }



    &__list {
        margin: rem(15) 0 0 0;
        background-color: white;
        box-shadow: 0px 1px 8px 0px #000000;
        overflow-y: scroll;
        max-height: 220px;
        padding: rem(5);
        flex: 1;
    }

    &__word {
        font-size: rem(20);
        cursor: pointer;

        &.red {
            color: red;
        }

        &._select {
            background-color: #cecece;
        }
    }

    &__searchContainer {
        width: 35%;
        margin: 0 0 0 auto;


    }


}