@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.statistic {
    @extend %variable-maxWidth;
    padding: rem(50) rem(20);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__bestStreak {
        margin: 0 auto;
        font-size: rem(24);

        @media (min-width: 480px) and (max-width: 767px) {
            font-size: rem(18);
        }

        @media (max-width: 479px) {
            font-size: rem(14);
        }
    }

    &__chartContainer {
        margin-top: rem(60);
        width: 100%;


    }
}