@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
1. Убирает все лишние отсупы у всех тегов
2. Расчет алгаритма ширины блока включает значение полей(padding), границ(border), но не отступов(margin)
3. Убирает обводку при фокусе и нажатии
4. Убирает обводку у ссылки при фокусе и нажатии
5. Делает теги блочным элементом
6. Устанавливает для страницы: полный размер, размер текста, расстояние между строк установлено по размеру шрифта, отключает на мобильных браузеров автоматическое масштабирование текста на маленьких экранах
7. Наследует шрифт у родителя в тегах ввода
8. Убирает в IE крестик при вводе информации в input
9. Устанавливает для всех кнопок иной курсор
10. Убирает в Mozzila отступы у кнопок
11,12. Убирает у ссылок подчеркивание
13. Убирает у маркированного списка стиль маркера
14. Выравнивает картинку по верхнему краю
15. Обнуляет стили заголовков
*/
body {
  user-select: none;
}

/* Отключает возможность выделения элементов страницы*/
@font-face {
  font-family: 'Colus';
  src: url("./fonts/colus/ofont.ru_Colus.eot");
  src: local("☺"), url("./fonts/colus//ofont.ru_Colus.woff") format("woff"), url("./fonts/colus//ofont.ru_Colus.ttf") format("truetype"), url("./fonts/colus//ofont.ru_Colus.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dreamcast';
  src: url("./fonts/dreamcast/ofont.ru_Dreamcast.eot");
  src: local("☺"), url("./fonts/dreamcast/ofont.ru_Dreamcast.woff") format("woff"), url("./fonts/dreamcast/ofont.ru_Dreamcast.ttf") format("truetype"), url("./fonts/dreamcast/ofont.ru_Dreamcast.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hero';
  src: url("./fonts/hero/ofont.ru_Hero.eot");
  src: local("☺"), url("./fonts/hero/ofont.ru_Hero.woff") format("woff"), url("./fonts/hero/ofont.ru_Hero.ttf") format("truetype"), url("./fonts/hero/ofont.ru_Hero.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antique';
  src: url("./fonts/antique/ofont.ru_Uk_Antique.eot");
  src: local("☺"), url("./fonts/antique/ofont.ru_Uk_Antique.woff") format("woff"), url("./fonts/antique/ofont.ru_Uk_Antique.ttf") format("truetype"), url("./fonts/antique/ofont.ru_Uk_Antique.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miama';
  src: url("./fonts/miama/ofont.ru_Miama Nueva.eot");
  src: local("☺"), url("./fonts/miama/ofont.ru_Miama Nueva.woff") format("woff"), url("./fonts/miama/ofont.ru_Miama Nueva.ttf") format("truetype"), url("./fonts/miama/ofont.ru_Miama Nueva.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@keyframes clickButtonHeader {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes appearBackDrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dissappearBackDrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes arrowToUp {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@keyframes arrowToDown {
  0% {
    transform: rotate(180deg);
  }
  30% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes appearPage {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes confirmButton {
  0% {
    transform: translateY(-4px);
    box-shadow: 0px 8px 8px -6px #6092ff;
    outline: 1px solid rgba(96, 146, 255, 0.5);
  }
  100% {
    outline: 1px solid rgba(96, 146, 255, 0);
    outline-offset: 15px;
    transform: translateY(0);
    box-shadow: 0px 0 0 0 #fff;
  }
}

body {
  background-color: whitesmoke;
}

.workplace {
  width: 100%;
  background-color: whitesmoke;
}

.appear {
  animation: appearPage 0.3s linear;
}

.workplaceContainer {
  max-width: 71.42857rem;
  margin: auto;
}

.headerContainer {
  max-width: 71.42857rem;
  margin: auto;
  display: flex;
}

.header {
  width: 100%;
  padding: 1.42857rem 0.71429rem;
  background-color: #e7fcf5;
}

.header__logo {
  margin: auto 0;
  width: 15%;
}

.header__title {
  margin: 0 0.71429rem;
  font-size: 1.3vw;
  font-family: Colus;
  cursor: pointer;
  transition: all 0.5s ease;
}

.header__title:hover {
  color: #f5caef;
  transform: scale(1.1);
}

.header__titles {
  display: flex;
  margin: auto;
}

.header__authPanel {
  margin: auto 0px auto auto;
}

.header__signIn {
  padding: 0.71429rem 0.71429rem;
  font-family: Dreamcast;
  font-size: 1.2vw;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  background-color: #e7fcf5;
}

.header__signIn_active {
  animation: clickButtonHeader 0.5s ease;
  animation-iteration-count: 1;
}

.header__signIn::after, .header__signIn::before {
  backface-visibility: hidden;
  border: 1px solid rgba(245, 202, 239, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.header__signIn:hover::after, .header__signIn:hover::before {
  backface-visibility: hidden;
  border-color: #f5caef;
  transition: width 350ms ease-in-out;
  width: 80%;
}

.header__signIn:hover::before {
  bottom: auto;
  top: 0;
  width: 80%;
}

.header__signUp {
  margin-left: 10px;
  padding: 0.71429rem 0.71429rem;
  font-size: 1.2vw;
  font-family: Dreamcast;
  background-color: #e7fcf5;
  transition: all 0.2s;
}

.header__signUp_active {
  animation: clickButtonHeader 0.5s ease;
  animation-iteration-count: 1;
}

.header__signUp::after, .header__signUp::before {
  backface-visibility: hidden;
  border: 1px solid rgba(245, 202, 239, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.header__signUp:hover::after, .header__signUp:hover::before {
  backface-visibility: hidden;
  border-color: #f5caef;
  transition: width 350ms ease-in-out;
  width: 80%;
}

.header__signUp:hover::before {
  bottom: auto;
  top: 0;
  width: 80%;
}

.header__userMenu {
  margin: auto 0px auto auto;
  display: flex;
  position: relative;
}

.header__activeUserMenu {
  display: flex;
  cursor: pointer;
}

.header__avatar {
  width: 28%;
}

.header__nickName {
  margin: auto 0 auto 0.57143rem;
}

.header__arrow {
  width: 0.78571rem;
  height: 0.78571rem;
  margin: auto auto auto 0.35714rem;
}

.header__userSettings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  padding: 1.42857rem 0 0.35714rem 1.42857rem;
  transition: all 0.3s ease;
  transform: scaleY(0);
}

.header__userSettings._active {
  transform: scaleY(100%);
  top: 100%;
}

.header__settingsItem {
  display: inline-flex;
  cursor: pointer;
  margin-bottom: 0.85714rem;
  transition: all 0.3s ease;
}

.header__settingsItem:hover {
  transform: scale(110%);
}

.header__settingsIcon {
  width: 1rem;
  height: 1rem;
  margin: auto 0;
}

.header__settingsTittle {
  margin: auto 0 auto 0.71429rem;
}

.modal__backDrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  animation: appearBackDrop 0.4s ease;
}

.modal__backDrop.close {
  animation: dissappearBackDrop 0.4s ease;
}

.sign {
  margin: auto;
  z-index: 2;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 24.64286rem;
}

.sign__closeButton {
  width: 1rem;
  height: 1rem;
  margin: 0.35714rem 0.35714rem 0 auto;
  transition: all 0.2s ease;
  cursor: pointer;
}

.sign__closeButton:hover {
  transform: scale(1.2, 1.2);
}

.sign__container {
  padding: 2.5rem 3.57143rem 3.57143rem 3.57143rem;
  display: flex;
  flex-direction: column;
}

.sign__header {
  font-size: 2.5rem;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.sign__description {
  font-size: 0.92857rem;
  margin: 0.21429rem auto 2.14286rem auto;
}

.sign__inputIconContainer {
  margin-top: 0.35714rem;
  width: 100%;
}

.sign__infoMessage {
  color: red;
  font-size: 1rem;
  margin-top: 0.71429rem;
}

.sign__logInButton {
  margin-top: 1.07143rem;
  padding: 0.92857rem;
  font-family: Dreamcast;
  position: relative;
  background-color: white;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
}

.sign__logInButton:hover {
  transform: translateY(-0.28571rem);
  box-shadow: 0px 0.57143rem 0.57143rem -0.42857rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}

.sign__logInButton._active {
  outline: 1px solid rgba(96, 146, 255, 0);
  outline-offset: 1.07143rem;
  transform: translateY(0);
  box-shadow: 0px 0 0 0 #fff;
}

.sign__actions {
  display: flex;
  margin-top: 2.14286rem;
}

.sign__forgotPassword {
  font-family: Dreamcast;
  margin: auto 0;
  cursor: pointer;
  transition: all 0.1s;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.sign__forgotPassword:hover {
  transform: scale(1.1, 1.1);
}

.sign__signInButton {
  padding: 1.07143rem;
  display: flex;
  background-color: #bdf0e9;
  margin: auto 0 auto auto;
  box-shadow: 0px 0px 4px 0px #bdf0e9;
  border-radius: 0.21429rem;
  transition: all 0.3 ease;
  cursor: pointer;
}

.sign__signInButtonTitle {
  font-family: Dreamcast;
}

.sign_signInButtonIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.35714rem;
}

.signUp {
  margin: auto;
  z-index: 2;
  background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
  display: flex;
  flex-direction: column;
}

.infoPopup {
  margin: auto;
  z-index: 2;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 50%;
  padding: 20px;
}

.infoPopup__header {
  font-weight: 700;
  font-size: 1.8vw;
  margin: 0 auto;
}

.infoPopup__tittle {
  text-align: justify;
  font-size: 1.2vw;
  font-family: Dreamcast;
}

.infoPopup__button {
  padding: 0.92857rem;
  font-family: Dreamcast;
  position: relative;
  background-color: white;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
  width: 30%;
  margin: 0.35714rem auto;
}

.infoPopup__button:hover {
  transform: translateY(-0.28571rem);
  box-shadow: 0px 0.57143rem 0.57143rem -0.42857rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}

.infoPopup__button._active {
  outline: 1px solid rgba(96, 146, 255, 0);
  outline-offset: 1.07143rem;
  transform: translateY(0);
  box-shadow: 0px 0 0 0 #fff;
}

.infoPopup__line {
  width: 80%;
  margin: 0.57143rem auto;
  height: 0.07143rem;
  background-color: black;
}

.homeImg {
  background-image: url("../assets/books.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 21.42857rem 0;
}

.homeImg__container {
  max-width: 71.42857rem;
  margin: auto;
  width: 100%;
}

.homeImg__header {
  font-size: 4vw;
  margin: auto 0 0 0;
  font-family: Hero;
  transform: translate(-357.14286rem, 0);
  transition: all 0.6s ease 1s;
}

.homeImg__header._active {
  transform: translate(0, 0);
}

.homeImg__title {
  margin: 0.71429rem 0 auto 0;
  font-size: 1.3vw;
  font-family: Antique;
  transform: translate(-357.14286rem, 0);
  transition: all 0.6s ease 1.6s;
}

.homeImg__title._active {
  transform: translate(0, 0);
}

.homeFeature {
  background-color: #171A36;
  padding: 2.14286rem 1.42857rem;
  box-shadow: 0px 0px 8px 0px #171A36;
}

.homeFeature__container {
  max-width: 71.42857rem;
  margin: auto;
  width: 100%;
}

.homeFeature__homeFeatureContainer {
  margin-top: 3.57143rem;
  display: flex;
}

.homeFeature__imgContainer {
  padding: 1.42857rem 1.42857rem 1.78571rem 1.42857rem;
  background-color: white;
  box-shadow: 0px 0px 11px 0px white;
  transform: scale(0, 0);
  transition: all 0.6s ease;
}

.homeFeature__imgContainer._active {
  transform: scale(1, 1);
}

.homeFeature__img {
  width: 15rem;
  height: 16.42857rem;
  border: 1px solid black;
}

.homeFeature__imgDescription {
  margin: 1.42857rem auto 0 auto;
  color: #a8a8a8;
  font-size: 1.4vw;
  text-align: center;
  font-family: Miama;
}

.homeFeature__descriprion {
  width: 60%;
  font-family: Antique;
  transform: translate(357.14286rem, 0);
  transition: all 0.6s ease;
  margin: auto;
  text-align: justify;
  color: white;
  font-size: 1.4vw;
}

.homeFeature__descriprion._active {
  transform: translate(0, 0);
}

.homeStart {
  display: flex;
  background: linear-gradient(to top, #55EFCB 0%, #5BCAFF 100%);
  width: 100%;
  box-shadow: 0px 0px 8px 0px #6A6E9B;
}

.homeStart__container {
  max-width: 71.42857rem;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 14.28571rem 0;
}

.homeStart__button {
  display: inline-block;
  width: 40%;
  padding: 2.14286rem 0;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 2px;
  margin: auto;
  transform: scale(0, 0);
  transition: all 0.4s ease;
  text-align: center;
}

.homeStart__button._active {
  transform: scale(1, 1);
}

.homeStart__button:before, .homeStart__button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.homeStart__button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.homeStart__button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.homeStart__button:hover:before, .homeStart__button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.homeStart__button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.homeStart__button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.homeStart__button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.learnType {
  width: 100%;
  max-width: 71.42857rem;
  margin: 0 auto;
}

.learnType__container {
  max-width: 71.42857rem;
  margin: 0px auto;
  padding: 1.42857rem 0;
  display: flex;
}

.learnType__button {
  font-size: 1.3vw;
  padding: 0.71429rem 1.07143rem;
  background-color: #e7fcf5;
  border: 1px solid #7dfad0;
  font-family: Antique;
}

.learnType__linkContainer {
  margin: 1.42857rem auto 0 auto;
}

.learnType__linkContainer p {
  text-align: center;
  padding-top: 1.07143rem;
  font-size: 1.2vw;
}

.learnPlace {
  width: 100%;
}

.learnPlace__container {
  max-width: 71.42857rem;
  margin: 0px auto;
  padding: 1.42857rem 0;
  display: flex;
}

.categories {
  width: 40%;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  padding: 1.42857rem 0;
}

.categories__list {
  margin: 2.14286rem 0;
  max-height: 26.78571rem;
  min-height: 26.78571rem;
  box-shadow: 0px 1px 8px 0px #000000;
  overflow-y: scroll;
  padding: 0.35714rem;
}

.categories__startLearn {
  display: flex;
}

.categories__startButton {
  padding: 0.35714rem 0.71429rem;
  font-size: 1.2vw;
  border-radius: 1.42857rem;
  font-family: antique;
}

.categories__startButton.normal {
  margin: 0 auto 0 0;
}

.categories__startButton.normal.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.categories__startButton.normal.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.categories__startButton.reverse {
  margin: 0 0 0 auto;
}

.categories__startButton.reverse.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.categories__startButton.reverse.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.categories__startButton.start {
  background-color: #0c0c0c48;
  border: 1px gray solid;
}

.CRUDpanel {
  display: flex;
  height: 2.42857rem;
}

.CRUDpanel.reverse {
  flex-direction: row-reverse;
}

.CRUDpanel__toolsButton {
  padding: 0.57143rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 1.2vw;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
}

.CRUDpanel__toolsButton.create {
  margin: 0 auto 0 0;
}

.CRUDpanel__toolsButton.create.reverse {
  margin: 0 0 0 0;
}

.CRUDpanel__toolsButton.delete {
  margin: 0 0 0 1.42857rem;
}

.CRUDpanel__toolsButton.delete.reverse {
  margin: 0 1.42857rem 0 0;
}

.category {
  width: 100%;
  border-radius: 0.14286rem;
  display: flex;
  padding: 0.35714rem 0.35714rem;
  cursor: pointer;
  margin-bottom: 0.71429rem;
}

.category.gray {
  background-color: #0c0c0c48;
  border: 1px gray solid;
}

.category.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.category.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.category__icon {
  width: 2vw;
  height: 2vw;
}

.category__name {
  margin-left: 1.07143rem;
  font-size: 1.4vw;
  line-height: 1.3;
}

.category__countWords {
  margin-left: auto;
  font-size: 1.4vw;
  line-height: 1.3;
}

.newWords {
  width: 60%;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  padding: 1.42857rem 0 1.42857rem 1.42857rem;
  display: flex;
  flex-direction: column;
}

.newWords__searchContainer {
  width: 25%;
  margin: 0 2.85714rem 0 auto;
  height: 100%;
}

.newWords__list {
  margin: 2.14286rem 0 0 0;
  overflow-y: scroll;
  max-height: 26.78571rem;
  min-height: 26.78571rem;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.35714rem;
}

.newWords__word {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1.42857rem;
  cursor: pointer;
}

.newWords__info {
  display: flex;
  font-size: 1.4vw;
  padding-bottom: 0.71429rem;
}

.newWords__info p {
  margin: auto;
}

.newWords__description {
  font-size: 1.2vw;
  margin: auto;
  padding-bottom: 0.71429rem;
}

.newWords__examples {
  font-size: 1.2vw;
  margin: auto;
  padding-bottom: 0.71429rem;
}

.newWords__nameCategory {
  margin: 2.5rem auto 0 auto;
  font-size: 1.5vw;
  font-family: antique;
}

.wordPopup {
  margin: 2.14286rem auto 0 auto;
  z-index: 2;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 32.14286rem;
}

.wordPopup__containerCategory {
  width: 100%;
  display: flex;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
  padding: 0.57143rem;
}

.wordPopup__containerCategory._close {
  width: 0;
  border: 0;
  padding: 0;
}

.wordPopup__containerCategory._close .relevance__filterIcon {
  width: 3rem;
  height: 3rem;
}

.wordPopup__category {
  width: 100%;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  position: relative;
  font-size: 1.14286rem;
  padding: 0 0.57143rem;
  margin: auto 0;
}

.wordPopup__category._error {
  color: red;
}

.wordPopup__subCategory {
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 0.4rem rem;
  box-shadow: 0 0.1rem 2rem #04061c1a;
  padding: 1.07143rem 0;
  margin-top: 1.42857rem;
  width: 21.42857rem;
  transition: all 0.3s ease;
  overflow: hidden;
  color: black;
}

.wordPopup__subCategory._close {
  height: 0;
  box-shadow: 0;
  padding: 0;
}

.wordPopup__categoryItem {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.35714rem 0.35714rem;
  cursor: pointer;
}

.wordPopup__categoryItem:hover {
  background-color: #f5f5f6;
}

.wordPopup__arrow {
  width: 1.14286rem;
  height: 1.14286rem;
  margin: auto 0 auto 0;
  cursor: pointer;
  animation: arrowToDown 0.3s ease;
  animation-fill-mode: forwards;
}

.wordPopup__arrow._active {
  animation: arrowToUp 0.3s ease;
  animation-fill-mode: forwards;
}

.wordPopup__addCategory {
  display: flex;
  padding-bottom: 1.42857rem;
}

.wordPopup__addCategory p {
  line-height: 1.2;
}

.wordPopup__addCategoryImg {
  width: 1.42857rem;
  height: 1.42857rem;
  margin-left: 0.57143rem;
}

.wordPopup__inputContainer {
  padding: 0.35714rem 0 0 0;
  font-size: 1.14286rem;
  color: red;
}

.wordPopup__textareaContainer {
  height: 7.14286rem;
  display: flex;
  padding-top: 0.35714rem;
  font-size: 1.14286rem;
}

.wordPopup__tooltip {
  position: absolute;
  display: inline-block;
  left: 100%;
  top: 50%;
}

.wordPopup__tooltip::after {
  content: attr(tooltip);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-size: 1.2vw;
  min-width: 250px;
  border-radius: 5px;
  pointer-events: none;
  padding: 9px 9px;
  z-index: 99;
  left: 200%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

.wordPopup__tooltip::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}

.wordPopup__input {
  margin-top: 0.35714rem;
  display: flex;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.14286rem;
  padding: 0.85714rem 0.71429rem;
  width: 100%;
}

.wordPopup__input.textArea {
  resize: none;
  height: 7.14286rem;
}

.wordPopup__input._focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.wordPopup__input._error {
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

.wordPopup__confirmButton {
  margin-top: 1.07143rem;
  padding: 0.92857rem;
  font-family: Dreamcast;
  position: relative;
  background-color: white;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
  font-size: 1.07143rem;
}

.wordPopup__confirmButton:hover {
  transform: translateY(-0.28571rem);
  box-shadow: 0px 0.57143rem 0.57143rem -0.42857rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}

.wordPopup__confirmButton._active {
  outline: 1px solid rgba(96, 146, 255, 0);
  outline-offset: 1.07143rem;
  transform: translateY(0);
  box-shadow: 0px 0 0 0 #fff;
}

.wordPopup__addExample {
  position: absolute;
  top: 30%;
  left: -9%;
  width: 1.78571rem;
  height: 1.78571rem;
  cursor: pointer;
}

.keyboard {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: -60%;
  background-color: #e7fcf5;
  margin: 1.42857rem auto auto auto;
  background: rgba(112, 110, 110, 0.452);
  display: flex;
  flex-direction: column;
  padding: 0.71429rem 0.71429rem 0.35714rem 1.07143rem;
}

.keyboard div {
  display: flex;
  margin-bottom: 0.35714rem;
}

.keyboard__key {
  background-color: white;
  width: 3.57143rem;
  height: 3.57143rem;
  margin-right: 0.35714rem;
  border-radius: 0.71429rem;
  font-size: 1.57143rem;
  cursor: pointer;
  align-items: center;
  border: 1px solid #034981;
  justify-content: center;
}

.keyboard__key:hover {
  border-color: #1b8ce9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 174, 233, 0.836);
}

.keyboard__key.space {
  width: 7.5rem;
}

.categoryPopup {
  margin: 2.14286rem auto 0 auto;
  z-index: 4;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 32.14286rem;
}

.categoryPopup__helper {
  position: absolute;
  display: inline-block;
  left: 52%;
  top: 50%;
}

.categoryPopup__helper::after {
  content: attr(tooltip);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-size: 1.2vw;
  min-width: 250px;
  border-radius: 5px;
  pointer-events: none;
  padding: 9px 9px;
  z-index: 99;
  left: 200%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

.categoryPopup__helper::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}

.categoryPopup__multipleInputContainer {
  width: auto;
  margin: 0.35714rem;
  width: 3.21429rem;
}

.categoryPopup__inputContainer {
  margin-top: 0.35714rem;
}

.categoryPopup__containerIcon {
  margin: 0.71429rem 0 1.07143rem 0;
  display: flex;
}

.categoryPopup__containerIcon p {
  font-size: 1.14286rem;
  line-height: 1.5;
}

.categoryPopup__addIcon {
  padding: 0.57143rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 1.2vw;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin-right: 1.07143rem;
  cursor: pointer;
}

.categoryPopup__containerRegularity {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.35714rem;
}

.categoryPopup__containerHelper {
  display: flex;
  position: relative;
}

.categoryPopup__containerHelper p {
  line-height: 1.5;
  font-size: 1.07143rem;
}

.categoryPopup__iconHelper {
  width: 1.14286rem;
  height: 1.14286rem;
  cursor: pointer;
  margin: auto 0 auto 0.57143rem;
}

.categoryIcon {
  position: absolute;
  top: 2.14286rem;
  left: 70%;
  z-index: 3;
  background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
  display: flex;
  flex-direction: column;
  width: 23.42857rem;
  animation: appearBackDrop 0.4s ease;
}

.categoryIcon.close {
  animation: dissappearBackDrop 0.4s ease;
}

.categoryIcon__container {
  display: flex;
  flex-direction: column;
  padding: 1.42857rem;
}

.categoryIcon__icon {
  width: 2.85714rem;
  height: 2.85714rem;
  margin: 0 0.57143rem 0.57143rem 0;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px #ffffff;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.categoryIcon__icon._focus {
  border: 3px solid #3a9beb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.425), 0 0 8px rgba(102, 174, 233, 0.664);
}

.categoryIcon__containerIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.learnCard {
  margin: auto;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  width: 32.14286rem;
  display: flex;
  flex-direction: column;
  min-height: 30.35714rem;
}

.learnCard__container {
  padding: 1.42857rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.learnCard__progressContainer {
  padding-bottom: 2.14286rem;
}

.learnCard__countWord {
  font-weight: bold;
  font-size: 1.14286rem;
}

.learnCard__progressBar {
  width: 100%;
  height: 0.42857rem;
  background-color: white;
  border: 1px solid black;
}

.learnCard__progress {
  height: 100%;
  background-color: green;
}

.learnCard__word {
  text-align: center;
  font-size: 2.14286rem;
  font-family: 'Times New Roman', Times, serif;
}

.learnCard__description {
  padding-top: 0.71429rem;
  text-align: justify;
  line-height: 1.2;
  font-size: 1.28571rem;
}

.learnCard__input {
  width: 45%;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  transition: all 0.3s ease;
  font-size: 1.28571rem;
  padding: 0.57143rem 0.35714rem;
  margin: 0 auto;
}

.learnCard__input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.learnCard__input._error {
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

.learnCard__confirmContainer {
  margin: 0.92857rem auto 0;
  width: 30%;
}

.learnCard__optionContainer {
  display: flex;
  flex-direction: column;
  padding: 1.42857rem;
}

.learnCard__optionItem {
  padding: 1.42857rem;
  justify-content: center;
  font-family: Dreamcast;
  position: relative;
  background-color: white;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
  font-size: 1.07143rem;
  cursor: pointer;
}

.learnCard__optionItem:hover {
  transform: translateY(-0.28571rem);
  box-shadow: 0px 0.57143rem 0.57143rem -0.42857rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}

.learnCard__optionItem.left {
  margin: 0.71429rem auto 0 0;
}

.learnCard__optionItem.right {
  margin: 0.71429rem 0 0 auto;
}

.learnCard__workContainer {
  display: flex;
  flex-direction: column;
  margin: auto 0 0 0;
}

.learnCard__answer {
  text-align: center;
  font-size: 2.14286rem;
  font-family: 'Times New Roman', Times, serif;
}

.learnCard__transcriprion {
  text-align: center;
  font-size: 1.28571rem;
  color: #838282;
  font-family: 'Times New Roman', Times, serif;
}

.learnCard__examples {
  padding: 0.71429rem 0 0;
}

.learnCard__example {
  text-align: justify;
  line-height: 1.2;
  font-size: 1.14286rem;
}

.knownWords {
  padding: 1.42857rem 0 1.42857rem 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.knownWords__header {
  display: flex;
  height: 3.78571rem;
}

.knownWords__lastInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 auto;
}

.knownWords__lastInfo p {
  line-height: 1.3;
  font-size: 1.25vw;
}

.knownWords__filterContainer {
  width: 35%;
}

.knownWords__searchContainer {
  width: 25%;
  margin: 0 0 0 auto;
}

.knownWords__wordsContainer {
  margin-top: 1.42857rem;
  overflow-y: scroll;
  max-height: 35.71429rem;
  min-height: 35.71429rem;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.35714rem;
}

.knownWords__word {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1.42857rem;
  cursor: pointer;
  padding: 0.71429rem;
}

.knownWords__info {
  display: flex;
  font-size: 1.4vw;
  padding-bottom: 0.71429rem;
}

.knownWords__info p {
  margin: auto;
}

.knownWords__description {
  font-size: 1.2vw;
  margin: auto;
  padding-bottom: 0.71429rem;
}

.knownWords__examples {
  font-size: 1.2vw;
  margin: auto;
  padding-bottom: 0.71429rem;
}

.knownWords__dateToRepeat {
  margin-top: 0.35714rem;
}

.knownWords__startLearn {
  margin-top: 1.42857rem;
  display: flex;
}

.knownWords__startLearn p {
  font-size: 1.3vw;
  line-height: 1.8;
}

.knownWords__startButton {
  padding: 0.35714rem 0.71429rem;
  font-size: 1.4vw;
  border-radius: 1.42857rem;
  font-family: antique;
}

.knownWords__startButton.normal {
  margin: 0 auto 0 0;
}

.knownWords__startButton.normal.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.knownWords__startButton.normal.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.knownWords__startButton.reverse {
  margin: 0 0 0 auto;
}

.knownWords__startButton.reverse.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.knownWords__startButton.reverse.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.knownWords__startButton.start {
  background-color: #0c0c0c48;
  border: 1px gray solid;
}

.repeatWords {
  padding: 1.42857rem 0 1.42857rem 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.repeatWords__header {
  display: flex;
  height: 3.71429rem;
}

.repeatWords__lastInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 auto;
}

.repeatWords__lastInfo p {
  line-height: 1.3;
  font-size: 1.25vw;
  margin: auto;
}

.repeatWords__searchContainer {
  display: flex;
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
  position: relative;
  width: 25%;
  margin: 0 0 0 auto;
  padding: 0.35714rem;
}

.repeatWords__searchContainer._close {
  width: 0;
  padding: 0;
  border: 0;
}

.repeatWords__searchContainer._close .repeatWords__searchIcon {
  width: 3rem;
  height: 3rem;
}

.repeatWords__search {
  font-size: 1.28571rem;
  padding: 0rem 1.07143rem;
  width: 100%;
}

.repeatWords__searchIcon {
  width: 1.71429rem;
  height: 1.71429rem;
  margin: auto 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.repeatWords__wordsContainer {
  margin-top: 1.42857rem;
  overflow-y: scroll;
  max-height: 32.85714rem;
  min-height: 32.85714rem;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.35714rem;
}

.repeatWords__word {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1.42857rem;
  cursor: pointer;
  padding: 0.71429rem;
}

.repeatWords__info {
  display: flex;
  font-size: 1.4vw;
  padding-bottom: 0.71429rem;
}

.repeatWords__info p {
  margin: auto;
}

.repeatWords__description {
  font-size: 1.2vw;
  margin: auto;
  padding-bottom: 0.71429rem;
}

.repeatWords__examples {
  font-size: 1.2vw;
  margin: auto;
  padding-bottom: 0.71429rem;
}

.repeatWords__dateToRepeat {
  margin-top: 0.35714rem;
}

.repeatWords__startLearn {
  margin-top: 1.42857rem;
  display: flex;
}

.repeatWords__startLearn p {
  font-size: 1.3vw;
  line-height: 1.8;
}

.repeatWords__startButton {
  padding: 0.35714rem 0.71429rem;
  font-size: 1.4vw;
  border-radius: 1.42857rem;
  font-family: antique;
}

.repeatWords__startButton.normal {
  margin: 0 auto 0 0;
}

.repeatWords__startButton.normal.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.repeatWords__startButton.normal.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.repeatWords__startButton.reverse {
  margin: 0 0 0 auto;
}

.repeatWords__startButton.reverse.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}

.repeatWords__startButton.reverse.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}

.repeatWords__startButton.start {
  background-color: #0c0c0c48;
  border: 1px gray solid;
}

.docs {
  max-width: 71.42857rem;
  margin: 0 auto;
  display: flex;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.docs__link {
  width: 30%;
  height: 85vh;
  overflow-y: scroll;
  padding-top: 1.42857rem;
}

.docs__link h2 {
  font-weight: 600;
  color: #273849;
  font-size: 1.8vw;
  margin-bottom: 1.07143rem;
  display: block;
}

.docs__header {
  color: #304455;
  font-weight: 600;
  font-size: 1.4vw;
  margin-top: 1.07143rem;
  margin-bottom: -0.14286rem;
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid whitesmoke;
}

.docs__header:hover {
  border-bottom: 2px solid #42b983;
}

.docs__header._active {
  color: #42b983;
}

.docs__chapter {
  cursor: pointer;
  margin: 1.07143rem 0 0 1.07143rem;
  color: #304455;
  font-weight: 600;
  font-size: 1.2vw;
  display: block;
  transition: all 0.3 ease;
}

.docs__chapter._active {
  color: #42b983;
  font-size: 1.22vw;
}

.docs__content {
  width: 70%;
  height: 85vh;
  overflow-y: scroll;
  padding: 1.42857rem 4.28571rem 0.71429rem 1.42857rem;
}

.docs__contentHeader {
  font-weight: 600;
  color: #273849;
  font-size: 1.9vw;
}

.docs__contentChapter {
  margin: 3.21429rem 0 1.42857rem;
  padding-bottom: 1.42857rem;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  color: #273849;
  font-size: 1.5vw;
}

.docs__contentChapter::before {
  content: "";
  display: block;
  margin-top: 3.21429rem;
  height: 3.21429rem;
  visibility: hidden;
}

.docs__contentText {
  color: #304455;
  word-spacing: 0.07143rem;
  line-height: 1.6;
  margin: 1.42857rem 0 1.42857rem;
  padding-bottom: 1.42857rem;
  text-align: justify;
  letter-spacing: 0.07143rem;
}

.contact {
  max-width: 71.42857rem;
  margin: 0 auto;
  padding: 2.14286rem 0;
  display: flex;
  flex-direction: column;
}

.contact__info {
  font-size: 1.4vw;
  letter-spacing: 0.03571rem;
  display: block;
  text-align: center;
}

.mailer {
  padding: 3.57143rem 0;
}

.mailer h1 {
  font-size: 1.9vw;
  font-weight: bold;
  line-height: 1.5;
}

.mailer p {
  letter-spacing: 0.07143rem;
  line-height: 1.2;
  padding-bottom: 0.71429rem;
}

.mailer span {
  display: block;
  padding: 0.71429rem 0;
  text-align: center;
}

.mailer__container {
  border: 1px solid black;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.35714rem;
  display: flex;
}

.mailer__containerInput {
  width: 40%;
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
}

.mailer__containerTextarea {
  width: 55%;
  height: 15.35714rem;
  display: block;
  margin-top: 0.35714rem;
}

.mailer__confirmContainer {
  margin: 0.71429rem auto;
}

.networks {
  display: flex;
  margin: 0 auto;
}

.networks__item {
  width: 2.85714rem;
  height: 2.85714rem;
  margin-right: 0.71429rem;
  cursor: pointer;
}

.relevance {
  max-width: 71.42857rem;
  padding: 2.85714rem 0 1.42857rem;
  margin: 0rem auto;
}

.relevance__newInput {
  width: 50%;
  background-color: white;
  margin: 0 0 0 auto;
  box-shadow: 0px 1px 8px 0px #000000;
  overflow-y: scroll;
  padding: 0.35714rem;
}

.relevance__inputItem {
  font-size: 1.14286rem;
}

.relevance__inputItem.red {
  color: red;
}

.relevance__inputItem.green {
  color: #02d402;
}

.relevance__confirmInput {
  padding: 0.57143rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 1.2vw;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: 0.85714rem 0 0 auto;
}

.relevance__info {
  text-align: justify;
  padding: 1.07143rem 0;
  font-size: 1.2vw;
}

.relevance__confirmAddWord {
  padding: 0.57143rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 1.2vw;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: auto 0 0 auto;
}

.relevance__filterContainer {
  width: 60%;
}

.relevance__list {
  margin: 1.07143rem 0 0 0;
  background-color: white;
  box-shadow: 0px 1px 8px 0px #000000;
  overflow-y: scroll;
  padding: 0.35714rem;
  flex: 1;
}

.relevance__word {
  font-size: 1.42857rem;
  cursor: pointer;
}

.relevance__word.red {
  color: red;
}

.relevance__word._select {
  background-color: #cecece;
}

.relevance__searchContainer {
  width: 35%;
  margin: 0 0 0 auto;
}

.setting {
  margin: auto;
  z-index: 2;
  background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
  display: flex;
  flex-direction: column;
  width: 40.71429rem;
  padding: 0 0 1.42857rem 1.42857rem;
}

.setting__avatarContainer {
  padding: 1.42857rem 0;
  display: flex;
}

.setting__avatar {
  width: 4.28571rem;
  height: 4.28571rem;
}

.setting__avatarReplace {
  padding: 0.57143rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 1.2vw;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: auto 0 0 1.07143rem;
}

.setting__userDataContainer {
  padding-top: 1.07143rem;
  margin-top: 0.71429rem;
  border-top: 1px solid #ddd;
}

.setting__container {
  display: flex;
  margin-top: 0.71429rem;
  align-items: center;
}

.setting__userDataHeader {
  font-size: 1.42857rem;
  padding-bottom: 1.07143rem;
}

.setting__userDataTittle {
  font-size: 1rem;
  line-height: 1;
}

.setting__userData {
  font-size: 1rem;
  margin-left: 0.35714rem;
  margin-right: 0.57143rem;
  line-height: 1;
}

.setting__userDataInput {
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  position: relative;
  font-size: 1rem;
  margin-left: 0.71429rem;
  width: 12.85714rem;
}

.setting__userDataInput._focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.setting__userDataInput._error {
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

.setting__userDataInput.number {
  width: 1.78571rem;
}

.setting__userDataReplace {
  padding: 0.35714rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 0.85714rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: auto 0.35714rem auto 0rem;
}

.setting__userDataReplace._change {
  margin: auto 0.35714rem auto auto;
}

.setting__userDataClose {
  width: 1.57143rem;
  height: 1.57143rem;
  cursor: pointer;
  margin: auto 0.35714rem auto auto;
}

.setting__regularityInfo {
  display: flex;
  align-items: center;
  width: 100%;
}

.setting__regularityData {
  padding-top: 0.71429rem;
  display: flex;
}

.setting__multipleInputContainer {
  width: 2.85714rem;
}

.setting__regularityItem {
  border-radius: 0.21429rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  position: relative;
  font-size: 1rem;
  width: 1.42857rem;
}

.setting__regularityItem._focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.setting__regularityItem._error {
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

.setting__regularDash {
  margin: auto 0.35714rem auto 0.35714rem;
  font-size: 1.14286rem;
}

.setting__backup {
  display: flex;
}

.setting__backupButton {
  padding: 0.35714rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 0.85714rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
}

.setting__backupButton.export {
  margin: 0 auto 0 0;
}

.setting__backupButton.import {
  margin: 0 0.35714rem 0 auto;
}

.newPassword {
  display: flex;
}

.newPassword__container {
  margin: 3.57143rem auto;
  background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
  display: flex;
  flex-direction: column;
  width: 24.64286rem;
}

.newPassword__confirmContainer {
  margin-top: 1.14286rem;
}

.forgotPassword {
  margin: auto;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 24.64286rem;
}

.iconPopup {
  margin: auto;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 28.57143rem;
}

.iconPopup__container {
  padding: 1.42857rem;
  display: flex;
  flex-direction: column;
}

.iconPopup__avatarContainer {
  padding: 1.42857rem 0;
  display: flex;
  margin: 0 auto;
}

.iconPopup__avatar {
  width: 4.57143rem;
  height: 4.57143rem;
}

.iconPopup__fileContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1.42857rem;
}

.iconPopup__avatarReplace {
  margin: 0 0 0 0;
  font-family: antique;
}

.iconPopup__avatarReplace::file-selector-button {
  padding: 0.57143rem 0.92857rem;
  border-radius: 1.42857rem;
  font-size: 1rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  border: 0;
  cursor: pointer;
}

.iconPopup__error {
  color: red;
  padding-top: 0.28571rem;
  margin: 0 0 auto 0;
}

a {
  color: inherit;
}

body {
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 0s ease-in-out 5000s;
}

ul {
  margin-left: 1.07143rem;
}
