@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*
1. Убирает все лишние отсупы у всех тегов
2. Расчет алгаритма ширины блока включает значение полей(padding), границ(border), но не отступов(margin)
3. Убирает обводку при фокусе и нажатии
4. Убирает обводку у ссылки при фокусе и нажатии
5. Делает теги блочным элементом
6. Устанавливает для страницы: полный размер, размер текста, расстояние между строк установлено по размеру шрифта, отключает на мобильных браузеров автоматическое масштабирование текста на маленьких экранах
7. Наследует шрифт у родителя в тегах ввода
8. Убирает в IE крестик при вводе информации в input
9. Устанавливает для всех кнопок иной курсор
10. Убирает в Mozzila отступы у кнопок
11,12. Убирает у ссылок подчеркивание
13. Убирает у маркированного списка стиль маркера
14. Выравнивает картинку по верхнему краю
15. Обнуляет стили заголовков
*/
body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Отключает возможность выделения элементов страницы*/
@font-face {
  font-family: "Colus";
  src: url("./fonts/colus/ofont.ru_Colus.eot");
  src: local("☺"), url("./fonts/colus//ofont.ru_Colus.woff") format("woff"), url("./fonts/colus//ofont.ru_Colus.ttf") format("truetype"), url("./fonts/colus//ofont.ru_Colus.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dreamcast";
  src: url("./fonts/dreamcast/ofont.ru_Dreamcast.eot");
  src: local("☺"), url("./fonts/dreamcast/ofont.ru_Dreamcast.woff") format("woff"), url("./fonts/dreamcast/ofont.ru_Dreamcast.ttf") format("truetype"), url("./fonts/dreamcast/ofont.ru_Dreamcast.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hero";
  src: url("./fonts/hero/ofont.ru_Hero.eot");
  src: local("☺"), url("./fonts/hero/ofont.ru_Hero.woff") format("woff"), url("./fonts/hero/ofont.ru_Hero.ttf") format("truetype"), url("./fonts/hero/ofont.ru_Hero.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Antique";
  src: url("./fonts/antique/ofont.ru_Uk_Antique.eot");
  src: local("☺"), url("./fonts/antique/ofont.ru_Uk_Antique.woff") format("woff"), url("./fonts/antique/ofont.ru_Uk_Antique.ttf") format("truetype"), url("./fonts/antique/ofont.ru_Uk_Antique.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miama";
  src: url("./fonts/miama/ofont.ru_Miama Nueva.eot");
  src: local("☺"), url("./fonts/miama/ofont.ru_Miama Nueva.woff") format("woff"), url("./fonts/miama/ofont.ru_Miama Nueva.ttf") format("truetype"), url("./fonts/miama/ofont.ru_Miama Nueva.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes clickButtonHeader {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes appearBackDrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dissappearBackDrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes arrowToUp {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes arrowToDown {
  0% {
    transform: rotate(180deg);
  }
  30% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes appearFlyPage {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes appearVisionPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes confirmButton {
  0% {
    transform: translateY(-4px);
    box-shadow: 0px 8px 8px -6px #6092ff;
    outline: 1px solid rgba(96, 146, 255, 0.5);
  }
  100% {
    outline: 1px solid rgba(96, 146, 255, 0);
    outline-offset: 15px;
    transform: translateY(0);
    box-shadow: 0px 0 0 0 #fff;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
@media (min-width: 1200px) {
  .statistic, .relevance, .contact, .docs, .learnPlace__container, .learnType__container, .learnType, .homeStart__container, .homeFeature__container, .homeImg__container, .headerContainer, .workplaceContainer {
    width: 1240px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .statistic, .relevance, .contact, .docs, .learnPlace__container, .learnType__container, .learnType, .homeStart__container, .homeFeature__container, .homeImg__container, .headerContainer, .workplaceContainer {
    width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .statistic, .relevance, .contact, .docs, .learnPlace__container, .learnType__container, .learnType, .homeStart__container, .homeFeature__container, .homeImg__container, .headerContainer, .workplaceContainer {
    width: 768px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .statistic, .relevance, .contact, .docs, .learnPlace__container, .learnType__container, .learnType, .homeStart__container, .homeFeature__container, .homeImg__container, .headerContainer, .workplaceContainer {
    width: 480px;
  }
}
@media (max-width: 479px) {
  .statistic, .relevance, .contact, .docs, .learnPlace__container, .learnType__container, .learnType, .homeStart__container, .homeFeature__container, .homeImg__container, .headerContainer, .workplaceContainer {
    width: 320px;
  }
}

body {
  background-color: whitesmoke;
}

.workplace {
  width: 100%;
  background-color: whitesmoke;
}

.appearFly {
  animation: appearFlyPage 0.3s linear;
}

.appearVision {
  animation: appearVisionPage 0.4s linear;
}

.hidden {
  visibility: hidden;
}

.workplaceContainer {
  margin: auto;
}

.headerContainer {
  padding: 0 1.4285714286rem;
  margin: auto;
  display: flex;
}

.header {
  width: 100%;
  padding: 1.4285714286rem 0.7142857143rem;
  background-color: #e7fcf5;
}
.header__logo {
  margin: auto 0;
  width: 15%;
}
.header__title {
  margin: 0 0.7142857143rem;
  font-size: 1.1428571429rem;
  font-family: Colus;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header__title:hover {
  color: #f5caef;
  transform: scale(1.1);
}
.header__titles {
  display: flex;
  margin: auto;
}
.header__authPanel {
  margin: auto 0px auto auto;
}
.header__signIn {
  padding: 0.7142857143rem 0.7142857143rem;
  font-family: Dreamcast;
  font-size: 1.1428571429rem;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  background-color: #e7fcf5;
}
.header__signIn_active {
  animation: clickButtonHeader 0.5s ease;
  animation-iteration-count: 1;
}
.header__signIn::after, .header__signIn::before {
  backface-visibility: hidden;
  border: 1px solid rgba(245, 202, 239, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.header__signIn:hover::after, .header__signIn:hover::before {
  backface-visibility: hidden;
  border-color: #f5caef;
  transition: width 350ms ease-in-out;
  width: 80%;
}
.header__signIn:hover::before {
  bottom: auto;
  top: 0;
  width: 80%;
}
.header__signUp {
  margin-left: 10px;
  padding: 0.7142857143rem 0.7142857143rem;
  font-size: 1.1428571429rem;
  font-family: Dreamcast;
  background-color: #e7fcf5;
  transition: all 0.2s;
}
.header__signUp_active {
  animation: clickButtonHeader 0.5s ease;
  animation-iteration-count: 1;
}
.header__signUp::after, .header__signUp::before {
  backface-visibility: hidden;
  border: 1px solid rgba(245, 202, 239, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.header__signUp:hover::after, .header__signUp:hover::before {
  backface-visibility: hidden;
  border-color: #f5caef;
  transition: width 350ms ease-in-out;
  width: 80%;
}
.header__signUp:hover::before {
  bottom: auto;
  top: 0;
  width: 80%;
}
.header__userMenu {
  margin: auto 0px auto auto;
  display: flex;
  position: relative;
}
.header__activeUserMenu {
  display: flex;
  cursor: pointer;
}
.header__avatar {
  width: 2.4285714286rem;
  height: 2.4285714286rem;
}
.header__nickName {
  margin: auto 0 auto 0.5714285714rem;
  font-size: 1.1428571429rem;
}
.header__arrow {
  width: 0.7857142857rem;
  height: 0.7857142857rem;
  margin: auto auto auto 0.3571428571rem;
}
.header__userSettings {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 105%;
  left: -2.8571428571rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  padding: 1.4285714286rem 1.4285714286rem 0.3571428571rem 1.4285714286rem;
  transition: all 0.3s ease;
  transform: scaleY(0);
  width: auto;
}
.header__userSettings._active {
  transform: scaleY(100%);
}
.header__settingsItem {
  display: inline-flex;
  cursor: pointer;
  margin-bottom: 0.8571428571rem;
  transition: all 0.3s ease;
}
.header__settingsItem:hover {
  transform: scale(110%);
}
.header__settingsIcon {
  width: 1rem;
  height: 1rem;
  margin: auto 0;
}
.header__settingsTittle {
  margin: auto 0 auto 0.7142857143rem;
}

.homeImg {
  background-image: url("../assets/books.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 21.4285714286rem 0;
  overflow: hidden;
}
.homeImg__container {
  margin: auto;
  width: 100%;
}
.homeImg__header {
  font-size: 4vw;
  margin: auto 0 0 0;
  font-family: Hero;
  transform: translate(-357.1428571429rem, 0);
  transition: all 0.6s ease 1s;
  text-align: justify;
}
.homeImg__header._active {
  transform: translate(0, 0);
}
.homeImg__title {
  margin: 0.7142857143rem 0 auto 0;
  font-size: 1.3vw;
  font-family: Antique;
  transform: translate(-357.1428571429rem, 0);
  transition: all 0.6s ease 1.6s;
  text-align: justify;
}
.homeImg__title._active {
  transform: translate(0, 0);
}

.homeFeature {
  background-color: #171A36;
  padding: 2.1428571429rem 1.4285714286rem;
  box-shadow: 0px 0px 8px 0px #171A36;
  overflow: hidden;
}
.homeFeature__container {
  margin: auto;
  width: 100%;
}
.homeFeature__homeFeatureContainer {
  margin-top: 3.5714285714rem;
  display: flex;
}
.homeFeature__imgContainer {
  padding: 1.4285714286rem 1.4285714286rem 1.7857142857rem 1.4285714286rem;
  background-color: white;
  box-shadow: 0px 0px 11px 0px white;
  transform: scale(0, 0);
  transition: all 0.6s ease;
}
.homeFeature__imgContainer._active {
  transform: scale(1, 1);
}
.homeFeature__img {
  width: 15rem;
  height: 16.4285714286rem;
  border: 1px solid black;
}
.homeFeature__imgDescription {
  margin: 1.4285714286rem auto 0 auto;
  color: #a8a8a8;
  font-size: 1.2857142857rem;
  text-align: center;
  font-family: Miama;
}
.homeFeature__descriprion {
  width: 60%;
  font-family: Antique;
  transform: translate(357.1428571429rem, 0);
  transition: all 0.6s ease;
  margin: auto;
  text-align: justify;
  color: white;
  font-size: 1.2857142857rem;
}
.homeFeature__descriprion._active {
  transform: translate(0, 0);
}

.homeStart {
  display: flex;
  background: linear-gradient(to top, #55EFCB 0%, #5BCAFF 100%);
  width: 100%;
  box-shadow: 0px 0px 8px 0px #6A6E9B;
  overflow: hidden;
}
.homeStart__container {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 14.2857142857rem 0;
}
.homeStart__button {
  display: inline-block;
  padding: 2.1428571429rem 2.8571428571rem;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 2px;
  margin: auto;
  transform: scale(0, 0);
  transition: all 0.4s ease;
  text-align: center;
}
.homeStart__button._active {
  transform: scale(1, 1);
}
.homeStart__button:before, .homeStart__button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.homeStart__button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.homeStart__button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.homeStart__button:hover:before, .homeStart__button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.homeStart__button:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.homeStart__button:hover:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.homeStart__button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.learnType {
  width: 100%;
  padding: 0 1.4285714286rem;
  margin: 0 auto;
}
.learnType__container {
  margin: 0px auto;
  padding: 1.4285714286rem 1.4285714286rem;
  display: flex;
}
.learnType__button {
  font-size: 1.2857142857rem;
  padding: 0.7142857143rem 1.0714285714rem;
  background-color: #e7fcf5;
  border: 1px solid #7dfad0;
  font-family: Antique;
}
.learnType__linkContainer {
  margin: 1.4285714286rem auto 0 auto;
}
.learnType__linkContainer p {
  text-align: center;
  padding-top: 1.0714285714rem;
  font-size: 1.1428571429rem;
}

.learnPlace {
  width: 100%;
}
.learnPlace__container {
  margin: 0px auto;
  padding: 1.4285714286rem 1.4285714286rem;
  display: flex;
}

.categories {
  width: 40%;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  padding: 1.4285714286rem 0;
}
.categories__list {
  margin: 2.1428571429rem 0;
  max-height: 26.7857142857rem;
  min-height: 26.7857142857rem;
  box-shadow: 0px 1px 8px 0px #000000;
  overflow-y: scroll;
  padding: 0.3571428571rem;
  display: flex;
  flex-direction: column;
}
.categories__categoryPlaceholder {
  margin: auto;
  font-size: 3.5714285714rem;
  letter-spacing: 10px;
}
.categories__startLearn {
  display: flex;
}
.categories__startButton {
  padding: 0.3571428571rem 0.7142857143rem;
  font-size: 1.1428571429rem;
  border-radius: 1.4285714286rem;
  font-family: antique;
  color: black;
}
.categories__startButton.normal {
  margin: 0 auto 0 0;
}
.categories__startButton.normal.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}
.categories__startButton.normal.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}
.categories__startButton.normal.yellow {
  background-color: rgb(245, 245, 139);
  border: 1px rgb(221, 221, 19) solid;
}
.categories__startButton.normal.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
  border: 1px solid #828386;
  color: white;
}
.categories__startButton.reverse {
  margin: 0 0 0 auto;
}
.categories__startButton.reverse.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}
.categories__startButton.reverse.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}
.categories__startButton.reverse.yellow {
  background-color: rgb(245, 245, 139);
  border: 1px rgb(221, 221, 19) solid;
}
.categories__startButton.reverse.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
  border: 1px solid #828386;
  color: white;
}
.categories__startButton.start {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}
.categories__startButton.start.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
  border: 1px solid #828386;
  color: white;
}

.CRUDpanel {
  display: flex;
  height: 2.4285714286rem;
}
.CRUDpanel.reverse {
  flex-direction: row-reverse;
}
.CRUDpanel__toolsButton {
  padding: 0.5714285714rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 1.1428571429rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
}
.CRUDpanel__toolsButton.create {
  margin: 0 auto 0 0;
}
.CRUDpanel__toolsButton.create.reverse {
  margin: 0 0 0 0;
}
.CRUDpanel__toolsButton.delete {
  margin: 0 0 0 1.4285714286rem;
}
.CRUDpanel__toolsButton.delete.reverse {
  margin: 0 1.4285714286rem 0 0;
}
.CRUDpanel__toolsButton.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
}

.category {
  width: 100%;
  border-radius: 0.1428571429rem;
  display: flex;
  padding: 0.3571428571rem 0.3571428571rem;
  cursor: pointer;
  margin-bottom: 0.7142857143rem;
}
.category.gray {
  background-color: rgba(12, 12, 12, 0.2823529412);
  border: 1px gray solid;
}
.category.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}
.category.yellow {
  background-color: rgb(245, 245, 139);
  border: 1px rgb(221, 221, 19) solid;
}
.category.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}
.category.selected {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.category__icon {
  width: 1.8571428571rem;
  height: 1.8571428571rem;
}
.category__name {
  margin-left: 1.0714285714rem;
  font-size: 1.2857142857rem;
  line-height: 1.3;
}
.category__countWords {
  margin-left: auto;
  font-size: 1.2857142857rem;
  line-height: 1.3;
}

.newWords {
  width: 60%;
  border-top: 4px black solid;
  border-bottom: 4px black solid;
  padding: 1.4285714286rem 0 1.4285714286rem 1.4285714286rem;
  display: flex;
  flex-direction: column;
}
.newWords__searchContainer {
  width: 25%;
  margin: 0 2.8571428571rem 0 auto;
  height: 100%;
}
.newWords__list {
  margin: 2.1428571429rem 0 0 0;
  overflow-y: scroll;
  max-height: 26.7857142857rem;
  min-height: 26.7857142857rem;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.3571428571rem;
  display: flex;
  flex-direction: column;
}
.newWords__wordPlaceholder {
  margin: auto;
  font-size: 4.2857142857rem;
  letter-spacing: 30px;
}
.newWords__word {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1.4285714286rem;
  cursor: pointer;
}
.newWords__word.selected {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.newWords__info {
  display: flex;
  font-size: 1.2857142857rem;
  padding-bottom: 0.7142857143rem;
}
.newWords__info p {
  margin: auto;
}
.newWords__description {
  font-size: 1.1428571429rem;
  margin: auto;
  padding-bottom: 0.7142857143rem;
}
.newWords__examples {
  font-size: 1.1428571429rem;
  margin: auto;
  padding-bottom: 0.7142857143rem;
}
.newWords__subInfo {
  margin-top: 0.3571428571rem;
  font-size: 1rem;
}
.newWords__nameCategory {
  margin: 2.5rem auto 0 auto;
  font-size: 1.2142857143rem;
  font-family: antique;
}

.knownWords {
  padding: 1.4285714286rem 0 1.4285714286rem 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.knownWords__header {
  display: flex;
  height: 3.7857142857rem;
}
.knownWords__lastInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 auto;
}
.knownWords__lastInfo p {
  line-height: 1.3;
  font-size: 1.1428571429rem;
}
.knownWords__filterContainer {
  width: 25%;
}
.knownWords__searchContainer {
  width: 15%;
  margin: 0 20px 0 20px;
}
.knownWords__CRUDButton {
  padding: 0.5714285714rem 2.1428571429rem;
  border-radius: 1.4285714286rem;
  font-size: 1.2857142857rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: 0 auto;
}
.knownWords__CRUDButton.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
}
.knownWords__wordsContainer {
  margin-top: 1.4285714286rem;
  overflow-y: scroll;
  max-height: 35.7142857143rem;
  min-height: 35.7142857143rem;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.3571428571rem;
  display: flex;
  flex-direction: column;
}
.knownWords__wordPlaceholder {
  margin: auto;
  font-size: 4.2857142857rem;
  letter-spacing: 30px;
}
.knownWords__word {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1.4285714286rem;
  cursor: pointer;
  padding: 0.7142857143rem;
}
.knownWords__word.selected {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.knownWords__info {
  display: flex;
  font-size: 1.2857142857rem;
  padding-bottom: 0.7142857143rem;
}
.knownWords__info p {
  margin: auto;
}
.knownWords__description {
  font-size: 1.1428571429rem;
  margin: auto;
  padding-bottom: 0.7142857143rem;
}
.knownWords__examples {
  font-size: 1.1428571429rem;
  margin: 0.7142857143rem 0 0 0;
  padding-bottom: 0.7142857143rem;
}
.knownWords__subInfo {
  margin-top: 0.3571428571rem;
  font-size: 1rem;
}
.knownWords__startLearn {
  margin-top: 1.4285714286rem;
  display: flex;
}
.knownWords__startLearn p {
  font-size: 1.1428571429rem;
  line-height: 1.8;
}
.knownWords__startButton {
  padding: 0.3571428571rem 0.7142857143rem;
  font-size: 1.2857142857rem;
  border-radius: 1.4285714286rem;
  font-family: antique;
  color: black;
}
.knownWords__startButton.normal {
  margin: 0 auto 0 0;
}
.knownWords__startButton.reverse {
  margin: 0 0 0 auto;
}
.knownWords__startButton.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}
.knownWords__startButton.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}
.knownWords__startButton.yellow {
  background-color: rgb(245, 245, 139);
  border: 1px rgb(221, 221, 19) solid;
}
.knownWords__startButton.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
  border: 1px solid #828386;
  color: white;
}

.repeatWords {
  padding: 1.4285714286rem 0 1.4285714286rem 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.repeatWords__header {
  display: flex;
  height: 3.7142857143rem;
}
.repeatWords__lastInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 auto;
}
.repeatWords__lastInfo p {
  line-height: 1.3;
  font-size: 1.1428571429rem;
  margin: auto;
}
.repeatWords__wordsContainer {
  margin-top: 1.4285714286rem;
  overflow-y: scroll;
  max-height: 32.8571428571rem;
  min-height: 32.8571428571rem;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.3571428571rem;
  display: flex;
  flex-direction: column;
}
.repeatWords__wordPlaceholder {
  margin: auto;
  font-size: 4.2857142857rem;
  letter-spacing: 30px;
}
.repeatWords__word {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 1.4285714286rem;
  cursor: pointer;
  padding: 0.7142857143rem;
}
.repeatWords__word.red {
  background-color: #fddddc;
}
.repeatWords__word.yellow {
  background-color: rgb(245, 245, 139);
}
.repeatWords__info {
  display: flex;
  font-size: 1.2857142857rem;
  padding-bottom: 0.7142857143rem;
}
.repeatWords__info p {
  margin: auto;
}
.repeatWords__description {
  font-size: 1.1428571429rem;
  margin: auto;
  padding-bottom: 0.7142857143rem;
}
.repeatWords__examples {
  font-size: 1.1428571429rem;
  margin: auto;
  padding-bottom: 0.7142857143rem;
}
.repeatWords__subInfo {
  margin-top: 0.3571428571rem;
}
.repeatWords__startLearn {
  margin-top: 1.4285714286rem;
  display: flex;
}
.repeatWords__startLearn p {
  font-size: 1.1428571429rem;
  line-height: 1.8;
}
.repeatWords__startButton {
  padding: 0.3571428571rem 0.7142857143rem;
  font-size: 1.2857142857rem;
  border-radius: 1.4285714286rem;
  font-family: antique;
}
.repeatWords__startButton.normal {
  margin: 0 auto 0 0;
}
.repeatWords__startButton.reverse {
  margin: 0 0 0 auto;
}
.repeatWords__startButton.red {
  background-color: #fddddc;
  border: 1px #fc7b77 solid;
}
.repeatWords__startButton.yellow {
  background-color: rgb(245, 245, 139);
  border: 1px rgb(221, 221, 19) solid;
}
.repeatWords__startButton.green {
  background-color: #dcfdde;
  border: 1px #86f88f solid;
}
.repeatWords__startButton.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
  border: 1px solid #828386;
  color: white;
}

.docs {
  padding: 0 1.4285714286rem;
  margin: 0 auto;
  display: flex;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.docs__link {
  width: 30%;
  height: 85vh;
  overflow-y: scroll;
  padding-top: 1.4285714286rem;
}
.docs__link h2 {
  font-weight: 600;
  color: #273849;
  font-size: 1.8vw;
  margin-bottom: 1.0714285714rem;
  display: block;
}
.docs__header {
  color: #304455;
  font-weight: 600;
  font-size: 1.4vw;
  margin-top: 1.0714285714rem;
  margin-bottom: -0.1428571429rem;
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid whitesmoke;
}
.docs__header:hover {
  border-bottom: 2px solid #42b983;
}
.docs__header._active {
  color: #42b983;
}
.docs__chapter {
  cursor: pointer;
  margin: 1.0714285714rem 0 0 1.0714285714rem;
  color: #304455;
  font-weight: 600;
  font-size: 1.2vw;
  display: block;
  transition: all 0.3 ease;
}
.docs__chapter._active {
  color: #42b983;
  font-size: 1.22vw;
}
.docs__content {
  width: 70%;
  height: 85vh;
  overflow-y: scroll;
  padding: 1.4285714286rem 4.2857142857rem 0.7142857143rem 1.4285714286rem;
}
.docs__contentHeader {
  font-weight: 600;
  color: #273849;
  font-size: 1.9vw;
}
.docs__contentChapter {
  margin: 3.2142857143rem 0 1.4285714286rem;
  padding-bottom: 1.4285714286rem;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  color: #273849;
  font-size: 1.5vw;
}
.docs__contentChapter::before {
  content: "";
  display: block;
  margin-top: 3.2142857143rem;
  height: 3.2142857143rem;
  visibility: hidden;
}
.docs__contentText {
  color: #304455;
  word-spacing: 0.0714285714rem;
  line-height: 1.6;
  margin: 0.7142857143rem 0 0.7142857143rem;
  padding-bottom: 0.3571428571rem;
  text-align: justify;
  letter-spacing: 0.0714285714rem;
  font-size: 1.1vw;
}
.docs__contentText span {
  font-weight: bold;
  color: rgb(135, 224, 2);
}
.docs__contentText i {
  font-weight: bold;
  color: red;
  font-style: normal;
}
.docs__logo {
  width: 70%;
  margin: 25rem auto 0;
}

.contact {
  margin: 0 auto;
  padding: 2.1428571429rem 1.4285714286rem;
  display: flex;
  flex-direction: column;
}
.contact__info {
  font-size: 1.4vw;
  letter-spacing: 0.0357142857rem;
  display: block;
  text-align: center;
}

.mailer {
  padding: 3.5714285714rem 0;
}
.mailer h1 {
  font-size: 1.9vw;
  font-weight: bold;
  line-height: 1.5;
}
.mailer p {
  letter-spacing: 0.0714285714rem;
  line-height: 1.2;
  padding-bottom: 0.7142857143rem;
}
.mailer span {
  display: block;
  padding: 0.7142857143rem 0;
  text-align: center;
}
.mailer__container {
  border: 1px solid black;
  box-shadow: 0px 1px 8px 0px #000000;
  padding: 0.3571428571rem;
  display: flex;
}
.mailer__leftSide {
  width: 40%;
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
}
.mailer__rightSide {
  width: 55%;
  height: 15.3571428571rem;
  display: block;
  margin-top: 0.3571428571rem;
}
.mailer__inputContainer {
  padding: 0.35714rem 0 0 0;
}
.mailer__confirmContainer {
  margin: 0.7142857143rem auto;
}

.networks {
  display: flex;
  margin: 0 auto;
}
.networks__item {
  width: 2.8571428571rem;
  height: 2.8571428571rem;
  margin-right: 0.7142857143rem;
  cursor: pointer;
}

.relevance {
  padding: 2.8571428571rem 1.4285714286rem 1.4285714286rem;
  margin: 0rem auto;
}
.relevance__newInput {
  width: 50%;
  background-color: white;
  margin: 0 0 0 auto;
  box-shadow: 0px 1px 8px 0px #000000;
  overflow-y: scroll;
  padding: 0.3571428571rem;
  max-height: 100px;
}
.relevance__inputItem {
  font-size: 1.1428571429rem;
}
.relevance__inputItem.red {
  color: red;
}
.relevance__inputItem.green {
  color: rgb(2, 212, 2);
}
.relevance__confirmInput {
  padding: 0.5714285714rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 1.1428571429rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: 0.8571428571rem 0 0 auto;
}
.relevance__info {
  text-align: justify;
  padding: 1.0714285714rem 0;
  font-size: 1.1428571429rem;
}
.relevance__confirmAddWord {
  padding: 0.5714285714rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 1.1428571429rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: auto 0 0 auto;
}
.relevance__confirmAddWord.disabled {
  background-color: #828386;
  box-shadow: 0px 3px 13px 0px #999b9e;
}
.relevance__filterContainer {
  width: 60%;
}
.relevance__list {
  margin: 1.0714285714rem 0 0 0;
  background-color: white;
  box-shadow: 0px 1px 8px 0px #000000;
  overflow-y: scroll;
  max-height: 220px;
  padding: 0.3571428571rem;
  flex: 1;
}
.relevance__word {
  font-size: 1.4285714286rem;
  cursor: pointer;
}
.relevance__word.red {
  color: red;
}
.relevance__word._select {
  background-color: #cecece;
}
.relevance__searchContainer {
  width: 35%;
  margin: 0 0 0 auto;
}

.statistic {
  padding: 3.5714285714rem 1.4285714286rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.statistic__bestStreak {
  margin: 0 auto;
  font-size: 1.7142857143rem;
}
.statistic__chartContainer {
  margin-top: 4.2857142857rem;
  width: 100%;
}

.modal__backDrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  animation: appearBackDrop 0.4s ease;
}
.modal__backDrop.close {
  animation: dissappearBackDrop 0.4s ease;
}

.sign {
  margin: auto;
  z-index: 2;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 24.6428571429rem;
}
.sign__closeButton {
  margin: 0.3571428571rem 0.3571428571rem 0 auto;
}
.sign__container {
  padding: 2.5rem 3.5714285714rem 3.5714285714rem 3.5714285714rem;
  display: flex;
  flex-direction: column;
}
.sign__header {
  font-size: 2.5rem;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.sign__description {
  font-size: 0.9285714286rem;
  margin: 0.2142857143rem auto 2.1428571429rem auto;
}
.sign__inputIconContainer {
  margin-top: 0.3571428571rem;
  width: 100%;
}
.sign__infoMessage {
  color: red;
  font-size: 1rem;
  margin-top: 0.7142857143rem;
}
.sign__logInButton {
  margin-top: 1.0714285714rem;
  padding: 0.9285714286rem;
  font-family: Dreamcast;
  position: relative;
  background-color: white;
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
}
.sign__logInButton:hover {
  transform: translateY(-0.2857142857rem);
  box-shadow: 0px 0.5714285714rem 0.5714285714rem -0.4285714286rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}
.sign__logInButton._active {
  outline: 1px solid rgba(96, 146, 255, 0);
  outline-offset: 1.0714285714rem;
  transform: translateY(0);
  box-shadow: 0px 0 0 0 #fff;
}
.sign__actions {
  display: flex;
  margin-top: 2.1428571429rem;
}
.sign__forgotPassword {
  font-family: Dreamcast;
  margin: auto 0;
  cursor: pointer;
  transition: all 0.1s;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.sign__forgotPassword:hover {
  transform: scale(1.1, 1.1);
}
.sign__signInButton {
  padding: 1.0714285714rem;
  display: flex;
  background-color: #bdf0e9;
  margin: auto 0 auto auto;
  box-shadow: 0px 0px 4px 0px #bdf0e9;
  border-radius: 0.2142857143rem;
  transition: all 0.3 ease;
  cursor: pointer;
}
.sign__signInButtonTitle {
  font-family: Dreamcast;
}
.sign_signInButtonIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.3571428571rem;
}

.signUp {
  margin: auto;
  z-index: 2;
  background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
  display: flex;
  flex-direction: column;
}

.wordPopup {
  margin: 2.1428571429rem auto 0 auto;
  z-index: 2;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 32.1428571429rem;
}
.wordPopup__containerCategory {
  width: 100%;
  display: flex;
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid black;
  transition: all 0.3s ease;
  padding: 0.5714285714rem;
}
.wordPopup__containerCategory._close {
  width: 0;
  border: 0;
  padding: 0;
}
.wordPopup__containerCategory._close .relevance__filterIcon {
  width: 3rem;
  height: 3rem;
}
.wordPopup__category {
  width: 100%;
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  position: relative;
  font-size: 1.1428571429rem;
  padding: 0 0.5714285714rem;
  margin: auto 0;
}
.wordPopup__category._error {
  color: red;
}
.wordPopup__subCategory {
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 0.4rem rem;
  box-shadow: 0 0.1rem 2rem rgba(4, 6, 28, 0.1019607843);
  padding: 1.0714285714rem 0;
  margin-top: 1.4285714286rem;
  width: 21.4285714286rem;
  transition: all 0.3s ease;
  overflow: hidden;
  color: black;
}
.wordPopup__subCategory._close {
  height: 0;
  box-shadow: 0;
  padding: 0;
}
.wordPopup__categoryItem {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.3571428571rem 0.3571428571rem;
  cursor: pointer;
}
.wordPopup__categoryItem:hover {
  background-color: #f5f5f6;
}
.wordPopup__arrow {
  width: 1.1428571429rem;
  height: 1.1428571429rem;
  margin: auto 0 auto 0;
  cursor: pointer;
  animation: arrowToDown 0.3s ease;
  animation-fill-mode: forwards;
}
.wordPopup__arrow._active {
  animation: arrowToUp 0.3s ease;
  animation-fill-mode: forwards;
}
.wordPopup__addCategory {
  display: flex;
  padding-bottom: 1.4285714286rem;
}
.wordPopup__addCategory p {
  line-height: 1.2;
}
.wordPopup__addCategoryImg {
  width: 1.4285714286rem;
  height: 1.4285714286rem;
  margin-left: 0.5714285714rem;
}
.wordPopup__inputContainer {
  padding: 0.3571428571rem 0 0 0;
  font-size: 1.1428571429rem;
  color: red;
}
.wordPopup__textareaContainer {
  height: 7.1428571429rem;
  display: flex;
  padding-top: 0.3571428571rem;
  font-size: 1.1428571429rem;
}
.wordPopup__tooltip {
  position: absolute;
  display: inline-block;
  left: 100%;
  top: 50%;
}
.wordPopup__tooltip::after {
  content: attr(tooltip);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-size: 1.2vw;
  min-width: 250px;
  border-radius: 5px;
  pointer-events: none;
  padding: 9px 9px;
  z-index: 99;
  left: 200%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
.wordPopup__tooltip::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}
.wordPopup__input {
  margin-top: 0.3571428571rem;
  display: flex;
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  transition: all 0.3s ease;
  position: relative;
  font-size: 1.1428571429rem;
  padding: 0.8571428571rem 0.7142857143rem;
  width: 100%;
}
.wordPopup__input.textArea {
  resize: none;
  height: 7.1428571429rem;
}
.wordPopup__input._focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.wordPopup__input._error {
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}
.wordPopup__confirmButton {
  margin-top: 1.0714285714rem;
  padding: 0.9285714286rem;
  font-family: Dreamcast;
  position: relative;
  background-color: white;
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
  font-size: 1.0714285714rem;
}
.wordPopup__confirmButton:hover {
  transform: translateY(-0.2857142857rem);
  box-shadow: 0px 0.5714285714rem 0.5714285714rem -0.4285714286rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}
.wordPopup__confirmButton._active {
  outline: 1px solid rgba(96, 146, 255, 0);
  outline-offset: 1.0714285714rem;
  transform: translateY(0);
  box-shadow: 0px 0 0 0 #fff;
}
.wordPopup__addExample {
  position: absolute;
  top: 30%;
  left: -9%;
  width: 1.7857142857rem;
  height: 1.7857142857rem;
  cursor: pointer;
}
.wordPopup__tooltipAdvice {
  position: absolute;
  left: -112%;
  top: 50%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.1428571429rem;
  width: 350px;
  border-radius: 5px;
  padding: 9px 9px;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
.wordPopup__tooltipAdvice::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  left: 98.9%;
  top: 50%;
  transform: translatey(-50%) rotate(-90deg);
}
.wordPopup__adviceWordContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wordPopup__adviceWordContainer p {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  margin-left: 0.3571428571rem;
}
.wordPopup__adviceWord {
  background-color: red;
  padding: 0 0.3571428571rem;
  margin-bottom: 0.3571428571rem;
  margin-left: 0.3571428571rem;
  line-height: 1.5;
  cursor: pointer;
}
.wordPopup__adviceTranscriptionContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wordPopup__adviceTranscriptionContainer p {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  margin-left: 0.3571428571rem;
}
.wordPopup__adviceTranscription {
  background-color: orange;
  padding: 0 0.3571428571rem;
  margin-bottom: 0.3571428571rem;
  margin-left: 0.3571428571rem;
  line-height: 1.5;
  cursor: pointer;
}
.wordPopup__adviceTranslateContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wordPopup__adviceTranslateContainer p {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  margin-left: 0.3571428571rem;
}
.wordPopup__adviceTranslate {
  background-color: green;
  padding: 0 0.3571428571rem;
  margin-bottom: 0.3571428571rem;
  margin-left: 0.3571428571rem;
  line-height: 1.5;
  cursor: pointer;
}

.categoryPopup {
  margin: 2.1428571429rem auto 0 auto;
  z-index: 4;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  display: flex;
  flex-direction: column;
  width: 32.1428571429rem;
}
.categoryPopup__helper {
  position: absolute;
  display: inline-block;
  left: 52%;
  top: 50%;
}
.categoryPopup__helper::after {
  content: attr(tooltip);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-size: 1.0714285714rem;
  min-width: 250px;
  border-radius: 5px;
  pointer-events: none;
  padding: 9px 9px;
  z-index: 99;
  left: 200%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
.categoryPopup__helper::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}
.categoryPopup__multipleInputContainer {
  width: auto;
  margin: 0.3571428571rem;
  width: 3.2142857143rem;
}
.categoryPopup__inputContainer {
  margin-top: 0.3571428571rem;
}
.categoryPopup__containerIcon {
  margin: 0.7142857143rem 0 1.0714285714rem 0;
  display: flex;
}
.categoryPopup__containerIcon p {
  font-size: 1.1428571429rem;
  line-height: 1.5;
}
.categoryPopup__addIcon {
  padding: 0.5714285714rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 1.0714285714rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin-right: 1.0714285714rem;
  cursor: pointer;
}
.categoryPopup__containerRegularity {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.3571428571rem;
}
.categoryPopup__containerHelper {
  display: flex;
  position: relative;
}
.categoryPopup__containerHelper p {
  line-height: 1.5;
  font-size: 1.0714285714rem;
}
.categoryPopup__iconHelper {
  width: 1.1428571429rem;
  height: 1.1428571429rem;
  cursor: pointer;
  margin: auto 0 auto 0.5714285714rem;
}

.learnCard {
  margin: auto;
  background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
  width: 32.1428571429rem;
  display: flex;
  flex-direction: column;
  min-height: 30.3571428571rem;
}
.learnCard__container {
  padding: 1.4285714286rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.learnCard__progressContainer {
  padding-bottom: 2.1428571429rem;
}
.learnCard__countWord {
  font-weight: bold;
  font-size: 1.1428571429rem;
}
.learnCard__progressBar {
  width: 100%;
  height: 0.4285714286rem;
  background-color: white;
  border: 1px solid black;
}
.learnCard__progress {
  height: 100%;
  background-color: green;
}
.learnCard__word {
  text-align: center;
  font-size: 2.1428571429rem;
  font-family: "Times New Roman", Times, serif;
}
.learnCard__description {
  padding-top: 0.7142857143rem;
  text-align: justify;
  line-height: 1.2;
  font-size: 1.2857142857rem;
}
.learnCard__try {
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.1428571429rem;
}
.learnCard__input {
  width: 55%;
  margin: 0.5714285714rem auto;
}
.learnCard__confirmContainer {
  margin: 0.9285714286rem auto 0;
  width: 35%;
}
.learnCard__optionContainer {
  padding-top: 4.2857142857rem;
  padding-bottom: 0.7142857143rem;
  max-width: 410px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 7.1428571429rem;
  row-gap: 1.0714285714rem;
  column-gap: 1.0714285714rem;
}
.learnCard__optionItem {
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff;
  font-size: 1.0714285714rem;
  cursor: pointer;
}
.learnCard__optionItem:hover {
  transform: translateY(-0.2857142857rem);
  box-shadow: 0px 0.5714285714rem 0.5714285714rem -0.4285714286rem #6092ff;
  outline: 1px solid rgba(96, 146, 255, 0.5);
}
.learnCard__optionItem._wrong {
  animation-name: shake;
  animation-duration: 0.5s;
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
  background-color: rgba(206, 14, 14, 0.527);
}
.learnCard__optionItem._correct {
  animation-name: clickButtonHeader;
  animation-duration: 0.5s;
  border-color: green;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(1, 85, 1, 0.568);
  background-color: rgba(18, 212, 18, 0.404);
}
.learnCard__workContainer {
  display: flex;
  flex-direction: column;
  margin: auto 0 0 0;
}
.learnCard__workContainer.reverse {
  min-height: 24.2857142857rem;
}
.learnCard__answer {
  text-align: center;
  font-size: 2.1428571429rem;
  font-family: "Times New Roman", Times, serif;
}
.learnCard__transcriprion {
  text-align: center;
  font-size: 1.2857142857rem;
  color: rgb(131, 130, 130);
  font-family: "Times New Roman", Times, serif;
}
.learnCard__examples {
  padding: 0.7142857143rem 0 0;
}
.learnCard__example {
  text-align: justify;
  line-height: 1.2;
  font-size: 1.1428571429rem;
}

.setting {
  margin: 10.7142857143rem auto;
  z-index: 2;
  background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
  display: flex;
  flex-direction: column;
  width: 40.7142857143rem;
  padding: 0 0 1.4285714286rem 1.4285714286rem;
}
.setting__avatarContainer {
  padding: 1.4285714286rem 0;
  display: flex;
}
.setting__avatar {
  width: 4.2857142857rem;
  height: 4.2857142857rem;
}
.setting__avatarReplace {
  padding: 0.5714285714rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 1.1428571429rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  margin: auto 0 0 1.0714285714rem;
}
.setting__userDataContainer {
  padding-top: 1.0714285714rem;
  margin-top: 0.7142857143rem;
  border-top: 1px solid #ddd;
}
.setting__container {
  display: flex;
  margin-top: 0.7142857143rem;
  align-items: center;
}
.setting__userDataHeader {
  font-size: 1.4285714286rem;
  padding-bottom: 1.0714285714rem;
}
.setting__regularityInfo {
  display: flex;
  align-items: center;
  width: 100%;
}
.setting__regularityData {
  padding-top: 0.7142857143rem;
  display: flex;
}
.setting__multipleInputContainer {
  width: 2.8571428571rem;
}
.setting__regularityItem {
  border-radius: 0.2142857143rem;
  box-shadow: 0px 0px 4px 0px #ffffff;
  background-color: white;
  border: 1px solid white;
  position: relative;
  font-size: 1rem;
  width: 1.4285714286rem;
}
.setting__regularityItem._focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.setting__regularityItem._error {
  border-color: #e96666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}
.setting__regularDash {
  margin: auto 0.3571428571rem auto 0.3571428571rem;
  font-size: 1.1428571429rem;
}
.setting__backup {
  display: flex;
}
.setting__backupButton {
  padding: 0.3571428571rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 0.8571428571rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  border: 0;
  cursor: pointer;
}
.setting__backupButton::file-selector-button {
  padding: 0.3571428571rem 0.9285714286rem;
  border-radius: 1.4285714286rem;
  font-size: 0.8571428571rem;
  background-color: #698AFE;
  box-shadow: 0px 3px 13px 0px #C2CEF0;
  color: white;
  font-family: antique;
  border: 0;
  cursor: pointer;
}
.setting__backupButton.export {
  margin: 0 auto 0 0;
}
.setting__backupButton.import {
  margin: 0 0.3571428571rem 0 auto;
}

.chart {
  width: 100%;
}
.chart__header {
  margin-left: 25%;
  font-size: 1.2857142857rem;
  display: inline-block;
  position: relative;
}
.chart__period {
  color: orange;
  cursor: pointer;
  margin-left: 0.5714285714rem;
}
.chart__periodList {
  top: 20px;
  position: absolute;
  display: grid;
  overflow: hidden;
}
.chart__periodListContent {
  position: relative;
  top: -110%;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  padding: 10px;
  z-index: 2;
  transition: all 0.3s ease;
}
.chart__periodListContent._active {
  top: 0;
}
.chart__periodListContent p {
  margin-top: 5px;
  cursor: pointer;
}
.chart__container {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.chart__leftLabelContainer {
  margin: 0 5px 0 auto;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.chart__leftLabelItem {
  position: relative;
  flex: 1 1 100%;
  line-height: 1.5;
  color: gray;
}
.chart__leftLabelItem::before {
  content: "";
  position: absolute;
  width: 1118px;
  height: 1px;
  border-top: 1px solid rgba(179, 178, 178, 0.432);
  top: 0;
  left: 0;
  z-index: 1;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .chart__leftLabelItem::before {
    width: 918px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .chart__leftLabelItem::before {
    width: 618px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .chart__leftLabelItem::before {
    width: 318px;
  }
}
@media (max-width: 479px) {
  .chart__leftLabelItem::before {
    width: 168px;
  }
}
.chart__baseContainer {
  margin: 0 auto 0 0;
}
.chart__base {
  width: 1100px;
  height: 500px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .chart__base {
    width: 900px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .chart__base {
    width: 600px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .chart__base {
    width: 300px;
  }
}
@media (max-width: 479px) {
  .chart__base {
    width: 150px;
  }
}
.chart__itemContainer {
  height: 100%;
  flex: 1 1 100%;
  border-right: 1px dashed rgba(179, 178, 178, 0.432);
  display: flex;
  flex-direction: column-reverse;
}
.chart__firstItem {
  width: 80%;
  background-color: #7bdaba;
  position: relative;
  border-radius: 0px 0px 0px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
}
.chart__firstItem::after {
  content: attr(tooltip);
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-size: 1.2vw;
  border-radius: 5px;
  pointer-events: none;
  padding: 9px 9px;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
.chart__firstItem::before {
  content: "";
  position: absolute;
  display: none;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}
.chart__firstItem:hover {
  background-color: #2fd69e;
}
.chart__firstItem:hover::after {
  display: block;
}
.chart__firstItem:hover::before {
  display: block;
}
.chart__firstItem p {
  display: inline-block;
  margin: -20px auto;
  font-size: 18px;
  margin: 10px auto;
  font-size: 17px;
}
.chart__secondItem {
  position: relative;
  width: 80%;
  background-color: #e4c2b1;
  border-radius: 10px 10px 0px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
}
.chart__secondItem::after {
  content: attr(tooltip);
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-size: 1.2vw;
  border-radius: 5px;
  pointer-events: none;
  padding: 9px 9px;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
.chart__secondItem::before {
  content: "";
  position: absolute;
  display: none;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}
.chart__secondItem:hover {
  background-color: #e9a27f;
}
.chart__secondItem:hover::after {
  display: block;
}
.chart__secondItem:hover::before {
  display: block;
}
.chart__secondItem p {
  display: inline-block;
  margin: 10px auto;
  font-size: 17px;
}
.chart__bottomLabelContainer {
  margin-top: 5px;
  width: 1100px;
  display: flex;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .chart__bottomLabelContainer {
    width: 900px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .chart__bottomLabelContainer {
    width: 600px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .chart__bottomLabelContainer {
    width: 300px;
  }
}
@media (max-width: 479px) {
  .chart__bottomLabelContainer {
    width: 150px;
  }
}
.chart__bottomLabelItem {
  flex: 1 1 100%;
  display: flex;
  justify-content: left;
  color: gray;
  font-size: 14px;
}
.chart__footer {
  margin-top: 30px;
  margin-left: 20%;
  font-size: 18px;
}
.chart__footerHeader {
  display: flex;
}
.chart__footerHeaderElement {
  margin-right: 10px;
}
.chart__footerElement {
  display: flex;
  margin-top: 8px;
}
.chart__footerNumber {
  width: 45px;
  margin-right: 10px;
}
.chart__footerSquare {
  margin-left: 60px;
  width: 18px;
  height: 18px;
}
.chart__footerSquare._orange {
  background-color: #e4c2b1;
}
.chart__footerSquare._blue {
  background-color: #7bdaba;
}
.chart__footerText {
  margin-left: 8px;
}

a {
  color: inherit;
}

body {
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 0s ease-in-out 5000s;
}

ul {
  margin-left: 1.0714285714rem;
}