@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.infoPopup {
    margin: auto;
    z-index: 2;
    background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 50%;
    padding: 20px;

    &__header {
        font-weight: 700;
        font-size: 1.8vw;
        margin: 0 auto;

    }

    &__tittle {
        text-align: justify;
        font-size: 1.2vw;
        font-family: Dreamcast;
    }

    &__button {
        padding: rem(13);
        font-family: Dreamcast;
        position: relative;
        background-color: white;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        outline: 1px solid rgba(#ffffff, .5);
        transition: all 0.3s ease;
        background-color: #ffffff;
        width: 30%;
        margin: rem(5) auto;


        &:hover {
            transform: translateY(rem(-4));
            box-shadow: 0px rem(8) rem(8) rem(-6) #6092ff;
            outline: 1px solid rgba(#6092ff, .5);
        }

        &._active {
            outline: 1px solid rgba(#6092ff, .0);
            outline-offset: rem(15);
            transform: translateY(0);
            box-shadow: 0px 0 0 0 #fff;
        }
    }

    &__line {
        width: 80%;
        margin: rem(8) auto;
        height: rem(1);
        background-color: black;
    }
}