@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.newPassword {
    display: flex;

    &__container {
        margin: rem(50) auto;
        background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
        display: flex;
        flex-direction: column;
        width: rem(345);
    }
}