@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.repeatWords {
    padding: rem(20) 0 rem(20) 0;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        height: rem(52);
    }

    &__lastInfo {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0 0 auto;

        & p {
            line-height: 1.3;
            font-size: 1.25vw;
            margin: auto;
        }
    }



    &__searchContainer {
        display: flex;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        background-color: white;
        border: 1px solid black;
        transition: all 0.3s ease;
        position: relative;
        width: 25%;
        margin: 0 0 0 auto;
        padding: rem(5);

        &._close {
            width: 0;
            padding: 0;
            border: 0;

            & .repeatWords__searchIcon {
                width: rem(42);
                height: rem(42);
            }
        }
    }



    &__search {
        font-size: rem(18);
        padding: rem(0) rem(15);
        width: 100%;
    }

    &__searchIcon {
        width: rem(24);
        height: rem(24);
        margin: auto 0;
        cursor: pointer;
        transition: all 0.3s ease;

    }

    &__wordsContainer {
        margin-top: rem(20);
        overflow-y: scroll;
        max-height: rem(460);
        min-height: rem(460);
        box-shadow: 0px 1px 8px 0px #000000;
        padding: rem(5);
    }

    &__word {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 100%;
        margin-bottom: rem(20);
        cursor: pointer;
        padding: rem(10);
    }

    &__info {
        display: flex;
        font-size: 1.4vw;
        padding-bottom: rem(10);

        & p {
            margin: auto;
        }
    }

    &__description {
        font-size: 1.2vw;
        margin: auto;
        padding-bottom: rem(10);
    }

    &__examples {
        font-size: 1.2vw;
        margin: auto;
        padding-bottom: rem(10);
    }

    &__dateToRepeat {
        margin-top: rem(5);
    }

    &__startLearn {
        margin-top: rem(20);
        display: flex;

        & p {
            font-size: 1.3vw;
            line-height: 1.8;
        }
    }

    &__startButton {
        padding: rem(5) rem(10);
        font-size: 1.4vw;
        border-radius: rem(20);
        font-family: antique;

        &.normal {
            margin: 0 auto 0 0;

            &.red {
                background-color: #fddddc;
                border: 1px #fc7b77 solid;
            }

            &.green {
                background-color: #dcfdde;
                border: 1px #86f88f solid;
            }
        }

        &.reverse {
            margin: 0 0 0 auto;

            &.red {
                background-color: #fddddc;
                border: 1px #fc7b77 solid;
            }

            &.green {
                background-color: #dcfdde;
                border: 1px #86f88f solid;
            }
        }

        &.start {
            background-color: #0c0c0c48;
            border: 1px gray solid;
        }
    }
}