@import '_custom';
@import '_fonts';
@import '_animations';

@import '_main';
@import '_signForm';
@import '_infoPopup';
@import '_home';
@import '_learn';
@import '_newWord';
@import '_wordPopup';
@import '_categoryPopup';
@import '_learnCard';
@import '_knownWords';
@import '_repeatWords';
@import '_docsView';
@import '_contactView';
@import "_relevance";
@import "_settingPopup";

a {
    color: inherit // disables style router-link
}

body {
    overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 0s ease-in-out 5000s;
}

// disables auto-complete style in browser

ul {
    margin-left: rem(15);
}



// outline-offset