@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}



.categoryPopup {
    margin: auto;
    z-index: 4;
    background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
    display: flex;
    flex-direction: column;
    max-width: rem(450);
    width: 100vw;
    max-height: 90vh;
    overflow: auto;

    &__helper {
        position: absolute;
        display: inline-block;
        left: 52%;
        top: 50%;

        &::after {
            content: attr(tooltip);
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            color: white;
            font-size: rem(15);
            min-width: 250px;
            border-radius: 5px;
            pointer-events: none;
            padding: 9px 9px;
            z-index: 99;
            left: 200%;
            top: 50%;
            margin-left: 8px;
            transform: translateX(0%) translateY(-50%);

            @media (max-width: 767px) {
                transform: translateX(-50%) translateY(-110%);
            }
        }

        &::before {
            content: "";
            position: absolute;
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
            z-index: 99;
            left: 100%;
            top: 50%;
            margin-left: 1px;
            transform: translatey(-50%) rotate(90deg);

            @media (max-width: 767px) {
                transform: translatey(-370%) rotate(0deg);
            }
        }
    }

    &__multipleInputContainer {
        width: auto;
        margin: rem(5);
        width: rem(45);

    }

    &__inputContainer {
        margin-top: rem(5);

    }



    &__containerIcon {
        margin: rem(10) 0 rem(15) 0;
        display: flex;
        align-items: center;

        & p {
            font-size: rem(16);



        }
    }

    &__addIcon {

        padding: rem(8) rem(13);
        text-align: center;
        border-radius: rem(20);
        font-size: rem(16);
        background-color: #698AFE;
        box-shadow: 0px 3px 13px 0px #C2CEF0;
        color: white;
        font-family: antique;
        margin-right: rem(25);
        cursor: pointer;
    }

    &__containerRegularity {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(5);
    }


    &__containerHelper {
        display: flex;
        position: relative;

        & p {
            line-height: 1.5;
            font-size: rem(15);
        }
    }

    &__iconHelper {
        width: rem(16);
        height: rem(16);
        cursor: pointer;
        margin: auto 0 auto rem(8);
    }

}