@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.chart {
    width: 100%;

    &__header {
        margin-left: 25%;
        font-size: rem(18);
        display: inline-block;
        position: relative;
    }

    &__period {
        color: orange;
        cursor: pointer;
        margin-left: rem(8);
    }

    &__periodList {
        top: 20px;
        position: absolute;
        display: grid;
        overflow: hidden;
    }

    &__periodListContent {
        position: relative;
        top: -110%;
        box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
        background-color: whitesmoke;
        padding: 10px;
        z-index: 2;
        transition: all 0.3s ease;

        &._active {
            top: 0;
        }

        & p {
            margin-top: 5px;
            cursor: pointer;

        }
    }

    &__container {
        margin-top: 20px;
        width: 100%;
        display: flex;
    }


    &__leftLabelContainer {
        margin: 0 5px 0 auto;
        display: flex;
        flex-direction: column;
        height: 500px; ///


    }

    &__leftLabelItem {
        position: relative;
        flex: 1 1 100%;
        line-height: 1.5;
        color: gray;


        &::before {
            content: "";
            position: absolute;
            width: 1118px;
            height: 1px;
            border-top: 1px solid rgba(179, 178, 178, 0.432);
            top: 0;
            left: 0;
            z-index: 1;

            @media (min-width: 1024px) and (max-width: 1199px) {
                width: 918px;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                width: 618px;
            }

            @media (min-width: 480px) and (max-width: 767px) {
                width: 318px;
            }

            @media (max-width: 479px) {
                width: 168px;
            }

        }
    }

    &__baseContainer {
        margin: 0 auto 0 0;
    }



    &__base {

        width: 1100px;
        height: 500px; ///
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;

        @media (min-width: 1024px) and (max-width: 1199px) {
            width: 900px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            width: 600px;
        }

        @media (min-width: 480px) and (max-width: 767px) {
            width: 300px;
        }

        @media (max-width: 479px) {
            width: 150px;
        }

    }

    &__itemContainer {
        height: 100%;
        flex: 1 1 100%;
        border-right: 1px dashed rgba(179, 178, 178, 0.432);
        display: flex;
        flex-direction: column-reverse;

    }

    &__firstItem {
        width: 80%;
        background-color: #7bdaba;
        position: relative;
        border-radius: 0px 0px 0px 0px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        cursor: pointer;

        &::after {
            content: attr(tooltip);
            position: absolute;
            display: none;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            color: white;
            font-size: 1.2vw;
            border-radius: 5px;
            pointer-events: none;
            padding: 9px 9px;
            z-index: 99;
            left: 100%;
            top: 50%;
            margin-left: 8px;
            transform: translateX(0%) translateY(-50%);
        }

        &::before {
            content: "";
            position: absolute;
            display: none;
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
            z-index: 99;
            left: 100%;
            top: 50%;
            margin-left: 1px;
            transform: translatey(-50%) rotate(90deg);
        }

        &:hover {
            background-color: #2fd69e;

            &::after {
                display: block;
            }

            &::before {
                display: block;
            }

        }

        & p {
            display: inline-block;
            margin: -20px auto;
            font-size: 18px;
            margin: 10px auto;
            font-size: 17px;
        }
    }

    &__secondItem {
        position: relative;
        width: 80%;
        background-color: #e4c2b1;
        border-radius: 10px 10px 0px 0px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        cursor: pointer;

        &::after {
            content: attr(tooltip);
            position: absolute;
            display: none;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            color: white;
            font-size: 1.2vw;
            border-radius: 5px;
            pointer-events: none;
            padding: 9px 9px;
            z-index: 99;
            left: 100%;
            top: 50%;
            margin-left: 8px;
            transform: translateX(0%) translateY(-50%);
        }

        &::before {
            content: "";
            position: absolute;
            display: none;
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
            z-index: 99;
            left: 100%;
            top: 50%;
            margin-left: 1px;
            transform: translatey(-50%) rotate(90deg);
        }

        &:hover {
            background-color: #e9a27f;

            &::after {
                display: block;
            }

            &::before {
                display: block;
            }
        }

        & p {
            display: inline-block;
            margin: 10px auto;
            font-size: 17px;
        }
    }


    &__bottomLabelContainer {
        margin-top: 5px;
        width: 1100px;
        display: flex;

        @media (min-width: 1024px) and (max-width: 1199px) {
            width: 900px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            width: 600px;
        }

        @media (min-width: 480px) and (max-width: 767px) {
            width: 300px;
        }

        @media (max-width: 479px) {
            width: 150px;
        }
    }

    &__bottomLabelItem {
        flex: 1 1 100%;
        display: flex;
        justify-content: left;
        color: gray;
        font-size: 14px;
    }


    &__footer {
        margin-top: 30px;
        margin-left: 20%;
        font-size: 18px;
    }

    &__footerHeader {
        display: flex;
    }

    &__footerHeaderElement {
        margin-right: 10px;
    }

    &__footerElement {
        display: flex;
        margin-top: 8px;
    }

    &__footerNumber {
        width: 45px;
        margin-right: 10px;
    }

    &__footerSquare {
        margin-left: 60px;
        width: 18px;
        height: 18px;

        &._orange {
            background-color: #e4c2b1;
        }

        &._blue {
            background-color: #7bdaba;
        }
    }

    &__footerText {
        margin-left: 8px;
    }

}