@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}





.sign {

    margin: auto;
    background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
    display: flex;
    flex-direction: column;
    width: rem(345);
    max-height: 100vh;
    overflow: auto;

    @media (max-width: 350px) {
        width: rem(320);
    }

    &__closeButton {
        margin: rem(5) rem(5) 0 auto;


    }

    &__container {
        padding: rem(35) rem(50) rem(50) rem(50);
        display: flex;
        flex-direction: column;
    }



    &__header {
        font-size: rem(35);
        margin: 0 auto;
        display: block;
        text-align: center;

        @media (max-width: 350px) {
            font-size: rem(30);
        }

    }

    &__description {
        font-size: rem(13);
        margin: rem(3) auto rem(30) auto;
        text-align: center;
    }


    &__inputIconContainer {
        margin-top: rem(5);
        width: 100%;
    }



    &__infoMessage {
        color: red;
        font-size: rem(14);
        margin-top: rem(10);

    }


    &__logInButton {
        margin-top: rem(15);
        padding: rem(13);
        font-family: Dreamcast;
        position: relative;
        background-color: white;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        outline: 1px solid rgba(#ffffff, .5);
        transition: all 0.3s ease;
        background-color: #ffffff;


        &:hover {
            transform: translateY(rem(-4));
            box-shadow: 0px rem(8) rem(8) rem(-6) #6092ff;
            outline: 1px solid rgba(#6092ff, .5);
        }

        &._active {
            outline: 1px solid rgba(#6092ff, .0);
            outline-offset: rem(15);
            transform: translateY(0);
            box-shadow: 0px 0 0 0 #fff;
        }

    }

    &__actions {
        display: flex;
        margin-top: rem(30);
    }

    &__forgotPassword {
        font-family: Dreamcast;
        margin: auto 0;
        cursor: pointer;
        transition: all 0.1s;
        backface-visibility: hidden;
        transform: translateZ(0);

        &:hover {
            transform: scale(1.1, 1.1);


        }
    }

    &__signInButton {
        padding: rem(15);
        display: flex;
        background-color: #bdf0e9;
        margin: auto 0 auto auto;
        box-shadow: 0px 0px 4px 0px #bdf0e9;
        border-radius: rem(3);
        transition: all 0.3 ease;
        cursor: pointer;
    }

    &__signInButtonTitle {
        font-family: Dreamcast;

    }

    &_signInButtonIcon {
        width: rem(14);
        height: rem(14);
        margin-left: rem(5);
    }
}

.signUp {
    margin: auto;
    z-index: 2;
    background: linear-gradient(-42deg, #e7fcf5 50%, #fce5f9 50%);
    display: flex;
    flex-direction: column;
}