@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.testPanel {
    margin: auto;
    z-index: 2;
    background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 700px;

    &__closeButton {
        margin: 0px 0px 0px auto;
    }

    &__header {
        font-size: 30px;
        margin: 30px auto 0 auto;

    }


    &__containerTest {
        margin-top: 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;

    }

    &__nameTest {
        font-size: 18px;
        margin: 10px 0px 10px 10px;
    }

    &__buttonTest {
        font-size: 16px;
        width: 200px;
        margin: 0 0 10px 0;
        padding: 10px;
    }


}