@function rem($px) {
    $result : $px / 14;
    @return $result+rem;
}

.wordPopup {
    margin: rem(30) auto 0 auto;
    z-index: 2;
    background: linear-gradient(-42deg, #fce5f9 50%, #e7fcf5 50%);
    display: flex;
    flex-direction: column;
    width: rem(450);

    &__containerCategory {
        width: 100%;
        display: flex;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        background-color: white;
        border: 1px solid black;
        transition: all 0.3s ease;
        padding: rem(8);


        &._close {
            width: 0;
            border: 0;
            padding: 0;

            & .relevance__filterIcon {
                width: rem(42);
                height: rem(42);
            }
        }
    }


    &__category {
        width: 100%;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        background-color: white;
        border: 1px solid white;
        position: relative;
        font-size: rem(16);
        padding: 0 rem(8);
        margin: auto 0;

        &._error {
            color: red;
        }
    }

    &__subCategory {
        position: absolute;
        right: 0;
        z-index: 3;
        background-color: #fff;
        border-radius: 0.4rem rem;
        box-shadow: 0 0.1rem 2rem #04061c1a;
        padding: rem(15) 0;
        margin-top: rem(20);
        width: rem(300);
        transition: all 0.3s ease;
        overflow: hidden;
        color: black;

        &._close {
            height: 0;
            box-shadow: 0;
            padding: 0;
        }
    }

    &__categoryItem {
        font-size: 1.2rem;
        font-weight: 400;

        padding: rem(5) rem(5);
        cursor: pointer;

        &:hover {
            background-color: #f5f5f6;
        }
    }

    &__arrow {
        width: rem(16);
        height: rem(16);
        margin: auto 0 auto 0;
        cursor: pointer;
        animation: arrowToDown 0.3s ease;
        animation-fill-mode: forwards;

        &._active {

            animation: arrowToUp 0.3s ease;
            animation-fill-mode: forwards;


        }
    }

    &__addCategory {
        display: flex;
        padding-bottom: rem(20);

        & p {
            line-height: 1.2;
        }
    }

    &__addCategoryImg {
        width: rem(20);
        height: rem(20);
        margin-left: rem(8);
    }

    &__inputContainer {
        padding: rem(5) 0 0 0;
        font-size: rem(16);
        color: red;
    }

    &__textareaContainer {
        height: rem(100);
        display: flex;
        padding-top: rem(5);
        font-size: rem(16);
    }

    &__tooltip {
        position: absolute;
        display: inline-block;
        left: 100%;
        top: 50%;

        &::after {
            content: attr(tooltip);
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            color: white;
            font-size: 1.2vw;
            min-width: 250px;
            border-radius: 5px;
            pointer-events: none;
            padding: 9px 9px;
            z-index: 99;
            left: 200%;
            top: 50%;
            margin-left: 8px;
            transform: translateX(0%) translateY(-50%);
        }

        &::before {
            content: "";
            position: absolute;
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
            z-index: 99;
            left: 100%;
            top: 50%;
            margin-left: 1px;
            transform: translatey(-50%) rotate(90deg)
        }
    }

    &__input {
        margin-top: rem(5);
        display: flex;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        background-color: white;
        border: 1px solid white;
        transition: all 0.3s ease;
        position: relative;
        font-size: rem(16);
        padding: rem(12) rem(10);
        width: 100%;

        &.textArea {
            resize: none;
            height: rem(100);

        }

        &._focus {
            border-color: #66afe9;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }

        &._error {
            border-color: #e96666;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, .6);
        }

    }

    &__confirmButton {
        margin-top: rem(15);
        padding: rem(13);
        font-family: Dreamcast;
        position: relative;
        background-color: white;
        border-radius: rem(3);
        box-shadow: 0px 0px 4px 0px #ffffff;
        outline: 1px solid rgba(#ffffff, .5);
        transition: all 0.3s ease;
        background-color: #ffffff;
        font-size: rem(15);


        &:hover {
            transform: translateY(rem(-4));
            box-shadow: 0px rem(8) rem(8) rem(-6) #6092ff;
            outline: 1px solid rgba(#6092ff, .5);
        }

        &._active {
            outline: 1px solid rgba(#6092ff, .0);
            outline-offset: rem(15);
            transform: translateY(0);
            box-shadow: 0px 0 0 0 #fff;
        }
    }

    &__addExample {
        position: absolute;
        top: 30%;
        left: -9%;
        width: rem(25);
        height: rem(25);
        cursor: pointer;
    }

    &__tooltipAdvice {
        position: absolute;
        left: -112%;
        top: 50%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: rem(16);
        width: 350px;
        border-radius: 5px;
        padding: 9px 9px;
        margin-left: 8px;
        transform: translateX(0%) translateY(-50%);

        &::before {
            content: "";
            position: absolute;
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
            left: 98.9%;
            top: 50%;
            transform: translatey(-50%) rotate(-90deg);
        }
    }

    &__adviceWordContainer {
        margin-top: rem(7);
        margin-bottom: rem(7);
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & p {
            display: inline-block;
            line-height: 1.5;
            vertical-align: middle;
            margin-left: rem(5);
        }
    }

    &__adviceWord {
        background-color: red;
        padding: 0 rem(5);
        margin-bottom: rem(5);
        margin-left: rem(5);
        line-height: 1.5;
        cursor: pointer;
    }

    &__adviceTranscriptionContainer {
        margin-top: rem(7);
        margin-bottom: rem(7);
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & p {
            display: inline-block;
            line-height: 1.5;
            vertical-align: middle;
            margin-left: rem(5);
        }

    }

    &__adviceTranscription {
        background-color: orange;
        padding: 0 rem(5);
        margin-bottom: rem(5);
        margin-left: rem(5);
        line-height: 1.5;
        cursor: pointer;
    }

    &__adviceTranslateContainer {
        margin-top: rem(7);
        margin-bottom: rem(7);
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & p {
            display: inline-block;
            line-height: 1.5;
            vertical-align: middle;
            margin-left: rem(5);
        }
    }

    &__adviceTranslate {
        background-color: green;
        padding: 0 rem(5);
        margin-bottom: rem(5);
        margin-left: rem(5);
        line-height: 1.5;
        cursor: pointer;
    }


}