@keyframes clickButtonHeader {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.8, 0.8);
    }

    100% {
        transform: scale(1, 1);
    }
}



@keyframes appearBackDrop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes dissappearBackDrop {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes arrowToUp {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(540deg);
    }
}

@keyframes arrowToDown {
    0% {
        transform: rotate(180deg);
    }

    30% {
        transform: rotate(360deg);
    }

    60% {
        transform: rotate(540deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes appearPage {
    0% {
        transform: scale(0%);
    }

    50% {
        transform: scale(50%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes confirmButton {
    0% {
        transform: translateY(-4px);
        box-shadow: 0px 8px 8px -6px #6092ff;
        outline: 1px solid rgba(#6092ff, 0.5);
    }

    100% {
        outline: 1px solid rgba(#6092ff, 0);
        outline-offset: 15px;
        transform: translateY(0);
        box-shadow: 0px 0 0 0 #fff;
    }



}

@keyframes shake {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }

    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }

    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }

    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}